$tag-color: white;

$warning: #e3bd49;
$black: black;
$white: #f2f2f2;

@import "bulma/bulma.sass";

// Swiper Import
@import "swiper/scss";

@import "swiper/scss/effect-fade";
@import "swiper/scss/mousewheel";

html {
    scrollbar-width: none;
    background-color: #070519;

    // Swiper Override
    &,
    body {
        position: relative;
        height: 100%;
    }

    #app {
        height: 100%;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: ($tablet - 1px)) {
        .swiper-slide {
            height: auto !important;
        }
    }

    // Bulma inspired classes
    // Yellow Color
    .has-warning-light {
        color: #EDD68D;
    }
    .has-border-warning-light {
        border-color: #EDD68D !important;
    }
    // Transparent Color
    .has-border-transparent {
        border-color: transparent !important;
    }

}
