

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-pagination-color: #e3bd49;
    --swiper-pagination-bullet-inactive-color: #edd68d;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    // --swiper-pagination-bullet-horizontal-gap: 7px;
    // --swiper-pagination-bullet-size: 10px;
}

html {
    // DO NOT REMOVE
    // I wasted 2 hours of my life fixing this
    overscroll-behavior-block: contain;
}



// Hack from https://w3bits.com/prevent-chrome-pull-to-refresh-css/
.body,
.root {
    /* Break the flow */
    position: absolute;
    top: 0px;

    /* Give them all the available space */
    width: 100%;
    height: 100%;

    /* Remove the margins if any */
    margin: 0;

    /* Allow them to scroll down the document */
    overflow-y: hidden;
}

.body {
    /* Sending body at the bottom of the stack */
    z-index: 1;
}

.root {
    /* Making the wrapper stack above the body */
    z-index: 2;
}
