@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";
@import "swiper/css/lazy";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar {
        scrollbar-color: var(--color-black) var(--color-white);
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--color-white);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-black);
        }
    }
}

.swiper {
    height: 100%;
    width: 100%;
}

/* This is the hack we are looking for */
.swiper-slide {
    height: auto;
}

body {
    overscroll-behavior-y: contain;
    scrollbar-width: none;
}
