$tag-color : white;

$warning : #E3BD49;
$black : black;

@import 'bulma/bulma.sass';


// Swiper Import
@import "swiper/scss";

@import "swiper/scss/effect-fade";
@import 'swiper/scss/mousewheel';

html{
    scrollbar-width: none;
    
    // Swiper Override
    #app {
        height: 100%;
    }

    // Bulma inspired classes
    .has-warning-light{
        color:#EDD68D
    }
    .has-border-transparent {
        border-color: transparent !important;
    }

}