$nprogress-bar-color: rgb(var(--color-primary-500));
$nprogress-bar-seconday-color: rgb(var(--color-secondary-500));
$nprogress-bar-success-color: rgb(var(--color-success-500));
$nprogress-bar-warning-color: rgb(var(--color-warning-500));

$animation-duration: 2s;
$nprogress-height: 0.2rem;

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: $nprogress-bar-color;
    animation: $animation-duration linear infinite change-bg;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: $nprogress-height;

    @keyframes change-bg {
        0%,
        100% {
            background: $nprogress-bar-color;
        }
        25% {
            background: $nprogress-bar-seconday-color;
        }
        50% {
            background: $nprogress-bar-success-color;
        }
        75% {
            background: $nprogress-bar-warning-color;
        }
    }
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
        0 0 10px $nprogress-bar-color,
        0 0 5px $nprogress-bar-color;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
