<span class="flex items-center text-base font-bold uppercase leading-none tracking-widest text-white md:text-[1.5vw]">hey there! welcome back 👋</span>
<div class="flex flex-col gap-7 md:block">
    <div class="flex flex-col gap-[0.3rem] md:gap-[0.5vw]">
        <label class="text-base font-semibold leading-none md:text-[1.1vw]">
            {{ form.username.label }}
        </label>
        {{ form.username }}
        <div class="flex items-center gap-2 md:gap-[0.5vw]">
            <coreproject-icon-info class="w-3 opacity-70 md:w-[0.9vw]" ></coreproject-icon-info>

            <span class="text-[0.7rem] leading-none text-surface-300 md:text-[0.8vw]">
                {{ form.username.help_text }}
            </span>
        </div>
    </div>
    <div class="flex flex-col gap-[0.3rem] md:mt-[1.5vw] md:gap-[0.5vw]">
        <label class="text-base font-semibold leading-none md:text-[1.1vw]">
            {{ form.password.label }}
        </label>
        <div class="relative flex flex-col">
            {{ form.password }}
        </div>
    </div>
    <button
        hx-get="{% url 'reset_password_view' %}"
        hx-target="<content/>"
        hx-push-url="{% url 'reset_password_view' %}"
        class="text-start btn !bg-secondary p-0 text-base font-semibold leading-none text-primary underline md:text-[1vw] flex flex-col items-start md:mt-[2vw]"
    >
        &lt; forgot password? &gt;
    </button>
</div>
<div class="flex items-center justify-between">
    <div class="flex flex-col gap-1 md:gap-[0.5vw]">
        <span class="text-xs leading-none text-surface-100 md:text-[0.75vw]">Don't have a core account?</span>
        <button
            hx-get="{% url 'register_view' %}"
            hx-target="<content/>"
            hx-push-url="{% url 'register_view' %}"
            class="text-start text-base leading-none md:text-[1.1vw] text-primary underline"
        >
            Register
        </button>
    </div>
    <button
        type="submit"
        class="btn btn-primary text-accent h-12 rounded-lg p-0 px-5 text-base font-semibold md:h-[2.75vw] md:rounded-[0.5vw] md:px-[1.25vw] md:text-[0.95vw] leading-none"
    >
        <span>Continue</span>
        <coreproject-icon-arrow-up-right class="w-4 rotate-45 md:w-[1vw]"></coreproject-icon-arrow-up-right>
    </button>
</div>
