{% extends 'user/_layout.html'%}

{% block title %}
    Login | CoreProject
{% endblock %}


{% block sidebody %}
    {% if request.user.is_authenticated %}
        <div class='flex flex-col items-start justify-center gap-[2vw]'>
            <div class='flex items-center text-base font-bold uppercase leading-none tracking-widest text-white md:text-[1.5vw]'>welcome back {{request.user}}</div>
            <div>
                Perhaps you meant to
                <a
                    href="{% url "logout_view" %}"
                    class="text-base leading-none md:text-[1.1vw] text-primary underline"
                >
                    Logout
                </a>
                ?
            </div>
        </div>
    {% else %}
        <form
            class="flex h-max w-full flex-col gap-[15vw] bg-surface-900 p-10 md:h-full md:justify-between md:gap-0 md:rounded-none md:p-0"
            hx-post="{{request.get_full_path }}"
            enctype="application/x-www-form-urlencoded"
        >
            <auth-content
                class='contents'
                hx-get='{{request.get_full_path}}'
                hx-target='this'
                hx-trigger='load'
            ></auth-content>
        </form>
    {% endif %}
{% endblock %}
