{% extends 'base.html' %}
<!--prettier-ignore-->

{% load static %}
<!--prettier-ignore-->
{% block body %}
    {% include 'components/navbar.html' %}
<link rel="stylesheet" href="{% static 'vendor/swiper/swiper.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/swiper/theme.css' %}" />
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<!-- Slider main container -->
<div
    class="swiper"
    x-init="async () => {
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            autoHeight : true,
            autoplay: {
                delay: 5000,
            },
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }"
>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow">
                    <img
                        src="https://images.unsplash.com/photo-1642308994461-fc420a61a614?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                        alt=""
                    />
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow">
                    <img
                        src="https://images.unsplash.com/photo-1642308994461-fc420a61a614?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                        alt=""
                    />
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow">
                    <img
                        src="https://images.unsplash.com/photo-1642308994461-fc420a61a614?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

{% endblock %}
