[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = {extras = ["postgresql_asyncpg"], version = "*"}
install = "*"
aiohttp-jinja2 = "*"
aiopg = {extras = ["sa"], version = "*"}
alembic = "*"

[dev-packages]
black = "*"
aiohttp-devtools = "*"
mypy = "==0.920"
flake8 = "==4.0.1"
aiohttp-debugtoolbar = "*"

[requires]
python_version = "3.11"

[scripts]
dev = 'adev runserver web/main.py'
