[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = {extras = ["postgresql_asyncpg"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
