{%extends 'tailwind_base.html'%} {% block head %}

<style>
    :root {
        --bg-color: rgb(20, 20, 20);
        --card-color: rgb(23, 23, 23);
    }

    body {
        background-color: var(--bg-color);
    }

    #cards {
        max-width: 916px;
        width: calc(100% - 20px);
    }

    .card {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #cards:hover > .card::after {
        opacity: 1;
    }

    .card:hover::before {
        opacity: 1;
    }

    .card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%
        );
    }

    .card::after {
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
        );
    }

    /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

    h1,
    h2,
    h3,
    h4,
    span {
        color: rgb(240, 240, 240);
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        margin: 0px;
    }

    i {
        color: rgb(240, 240, 240);
    }

    .card-image > i {
        font-size: 6em;
        opacity: 0.25;
    }

    .card-info-wrapper {
        padding: 0px 20px;
    }

    .card-info {
        align-items: flex-start;
        display: flex;
        gap: 10px;
    }

    .card-info > i {
        font-size: 1em;
        height: 20px;
        line-height: 20px;
    }

    .card-info-title > h3 {
        font-size: 1.1em;
        line-height: 20px;
    }

    .card-info-title > h4 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.85em;
        margin-top: 8px;
    }

    /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

    @media (max-width: 1000px) {
        body {
            align-items: flex-start;
            overflow: auto;
        }

        #cards {
            max-width: 1000px;
            padding: 10px 0px;
        }

        .card {
            flex-shrink: 1;
            width: calc(50% - 4px);
        }
    }

    @media (max-width: 500px) {
        .card {
            height: 180px;
        }

        .card-image {
            height: 80px;
        }

        .card-image > i {
            font-size: 3em;
        }

        .card-info-wrapper {
            padding: 0px 10px;
        }

        .card-info > i {
            font-size: 0.8em;
        }

        .card-info-title > h3 {
            font-size: 0.9em;
        }

        .card-info-title > h4 {
            font-size: 0.8em;
            margin-top: 4px;
        }
    }

    @media (max-width: 320px) {
        .card {
            width: 100%;
        }
    }

    /* -- ↓ ↓ ↓ YouTube link styles ↓ ↓ ↓ -- */

    #youtube-link {
        bottom: 10px;
    }

    #youtube-link > i {
        color: rgb(239, 83, 80);
    }

    #source-link {
        bottom: 60px;
    }

    #source-link > i {
        color: rgb(94, 106, 210);
    }

    .link {
        align-items: center;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: inline-flex;
        gap: 5px;
        left: 10px;
        padding: 10px 20px;
        position: fixed;
        text-decoration: none;
        z-index: 100;
    }

    .link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .link > i,
    .link > span {
        height: 20px;
        line-height: 20px;
    }

    .link > span {
        color: white;
    }
</style>
{% endblock %} 

<!--prettier-ignore-->
{% block body %}
<div class="items-center flex h-screen justify-center overflow-hidden p-0 m-0">
    <div id="cards" class="flex flex-wrap gap-2">
        {% for i in '012345' %}
        <div
            class="card rounded-xl cursor-pointer flex flex-col relative w-[300px] h-[260px] before:h-full before:w-full before:z-30 before:rounded-[inherit] before:opacity-0 before:absolute before:top-0 before:left-0 before:transition-opacity before:duration-500 after:h-full after:w-full after:z-10 after:rounded-[inherit] after:opacity-0 after:absolute after:top-0 after:left-0 after:transition-opacity after:duration-500"
        >
            <div
                class="rounded-[inherit] flex flex-col grow inset-[1px] p-2.5 absolute z-20"
                style="background-color: var(--card-color)"
            >
                <div
                    class="items-center flex h-[140px] justify-center overflow-hidden"
                >
                    {% comment %} Put image here {% endcomment %}
                    <i class="fa-duotone fa-apartment"></i>
                </div>
                <div
                    class="card-info-wrapper items-center flex grow justify-start"
                >
                    <div class="card-info">
                        <i class="fa-duotone fa-apartment"></i>
                        <div class="card-info-title">
                            <h3>Apartments</h3>
                            <h4>Places to be apart. Wait, what?</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

<!--prettier-ignore-->

{% block js %}
<script>
    document.getElementById('cards').onmousemove = (e) => {
        for (const card of document.getElementsByClassName('card')) {
            const rect = card.getBoundingClientRect(),
                x = e.clientX - rect.left,
                y = e.clientY - rect.top;

            card.style.setProperty('--mouse-x', `${x}px`);
            card.style.setProperty('--mouse-y', `${y}px`);
        }
    };
</script>
{% endblock %}
