{% extends 'tailwind_base.html' %}
<!--prettier-ignore-->
{% load static %}

{% block title %}
    CoreProject | Landing page
{% endblock %}

<!--prettier-ignore-->
{% block head %}

    <style>
        :root {
            --card-color: #09080c;
            --card-background-color: rgba(7, 5, 25, 0.1);
            --card-after-color: rgba(255, 255, 255, 0.4);
            --card-before-color: rgba(255, 255, 255, 0.06);
        }

        #cards:hover > .card::after {
            opacity: 1;
        }

        .card:hover::before {
            opacity: 1;
        }

        .card::before {
            background: radial-gradient(
                800px circle at var(--mouse-x) var(--mouse-y),
                var(--card-before-color),
                transparent 40%
            );
        }

        .card::after {
            background: radial-gradient(
                600px circle at var(--mouse-x) var(--mouse-y),
                var(--card-after-color),
                transparent 40%
            );
        }

        .base__item {
            background: radial-gradient(
                ellipse at center,
                rgb(25, 52, 55),
                rgba(9, 9, 12, 1)
            );
        }
    </style>
{% endblock %}

<!--prettier-ignore-->
{% block body %}
    <div
        class="base__item items-center flex h-screen justify-center overflow-hidden p-0 m-0 bg-[#09080c]"
    >
        <div
            id="cards"
            class="gap-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-items-center"
        >
            {% for key,value in cards.items %}

                <div
                    class="card rounded-xl border-[1px] md:border-0 cursor-pointer flex flex-col relative w-[300px] h-[260px] before:h-full before:w-full before:z-30 before:rounded-[inherit] before:opacity-0 before:absolute before:top-0 before:left-0 before:transition-opacity before:duration-500 after:h-full after:w-full after:z-10 after:rounded-[inherit] after:opacity-0 after:absolute after:top-0 after:left-0 after:transition-opacity after:duration-500"
                    style="
                        border-color: var(--card-before-color);
                        background-color: var(--card-background-color);
                    "
                >
                    <div
                        class="rounded-[inherit] flex flex-col grow inset-[1px] p-2.5 absolute z-20"
                        style="background-color: var(--card-color)"
                    >
                        <div
                            class="items-center flex h-[140px] justify-center overflow-hidden"
                        >
                            <img src="{{ value.logo }}" width="120" />
                        </div>
                        <div
                            class="card-info-wrapper items-center flex grow justify-start"
                        >
                            <div class="card-info">
                                <div class="card-info-title text-white">
                                    <div class="flex">
                                        <p class="text-xl">{{ key }}</p>
                                    </div>
                                    <div>{{ value.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!--prettier-ignore-->

{% block js %}
    <script>
        document.getElementById('cards').onmousemove = (e) => {
            for (const card of document.getElementsByClassName('card')) {
                const rect = card.getBoundingClientRect(),
                x = Math.round(e.clientX - rect.left),
                y = Math.round(e.clientY - rect.top);

                card.style.setProperty('--mouse-x', `${x}px`);
                card.style.setProperty('--mouse-y', `${y}px`);
            }
        };
        console.log(
            `This awesome site was made using this tutorial | Youtube : https://www.youtube.com/watch?v=htGfnF1zN4g | CodePen : https://cdpn.io/MWQeYLW`
        );
    </script>
{% endblock %}
