# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
enable-beta-ecosystems: true
version: 2
updates:
    # Backend
    # =======
    - package-ecosystem: pip
      directory: /backend/
      schedule:
          interval: weekly
      open-pull-requests-limit: 100

    # Tracker
    # =======
    - package-ecosystem: uv
      directory: /tracker/backend/
      schedule:
          interval: weekly
      open-pull-requests-limit: 100

    - package-ecosystem: npm
      directory: /tracker/frontend/
      schedule:
          interval: weekly
      open-pull-requests-limit: 100

    # Bots
    # =====
    - package-ecosystem: pip
      directory: /discord/
      schedule:
          interval: weekly
      open-pull-requests-limit: 100

    #Frontend
    #- package-ecosystem: 'npm'
    #  directory: '/frontend'
    #  schedule:
    #      interval: 'weekly'

    # Actions
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
