# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
    # Backend
    # =======
    - package-ecosystem: pip
      directory: /backend/
      schedule:
          interval: monthly

    # Android
    # =======
    - package-ecosystem: pip
      directory: /android/AnimeCore/
      schedule:
          interval: monthly

    # Frontend
    # =========
    - package-ecosystem: npm
      directory: /frontend/AnimeCore/
      schedule:
          interval: monthly

    - package-ecosystem: npm
      directory: /frontend/Admin/
      schedule:
          interval: monthly

    - package-ecosystem: npm
      directory: /frontend/User/
      schedule:
          interval: monthly
