{% extends "tailwind_base.html" %}

{% block head %}
    <title>Upload on AnimeCore</title>
{% endblock %}

{% block body %}
    <container class="bg-secondary h-screen w-screen block p-5 md:py-[2vw] md:pl-[5vw] md:pr-[3.75vw]">
        <upload-area class="grid grid-cols-12 gap-7 md:gap-[5vw] md:px-[10vw]">
            <upload-progress class="col-span-12 mt-20 flex items-end md:col-span-7 md:pb-[1.5vw]">
                <div class="w-full text-center md:text-left">
                    <progress class="progress progress-primary w-full md:h-[0.75vw]" value="75" max="100"></progress>
                    <progress-info class="mt-5 flex flex-col gap-3 leading-none md:mt-[1.5vw] md:gap-[0.5vw]">
                        <span class="font-semibold md:text-[1vw]">
                            300.69B
                        </span>
                        <span class="text-surface-50 md:text-[1vw]">7 files</span>
                    </progress-info>
                </div>
            </upload-progress>
            <upload-input class="col-span-12 md:col-span-5 bg-neutral md:rounded-[0.75vw] cursor-pointer flex items-center justify-center flex-col md:gap-[0.25vw] md:h-[13vw] border-dashed md:border-[0.15vw] border-accent/25 hover:border-accent/50 transition-colors">
                {% include "icons/upload.html" with class="md:w-[2vw] text-white" %}
                <span class="font-semibold md:text-[1.1vw] md:mt-[1vw]">Drag and Drop files</span>
                <div class="divider md:px-[10vw] before:bg-accent/25 after:bg-accent/25 m-0 md:text-[0.9vw] md:before:h-[0.15vw] md:after:h-[0.15vw]">Or</div>
                <span class="font-semibold md:text-[1.1vw]">Browse</span>
            </upload-input>
        </upload-area>

        <hr class="!md:border-t-[0.2vw] mb-5 mt-10 !border-t-2 !border-primary-200/25 opacity-0 md:mb-[1vw] md:mt-[3vw] md:opacity-100" />

        <uploads>
            <uploads-options class="flex flex-col justify-between md:flex-row">
                <div class="flex items-center justify-between md:justify-start md:gap-[3vw]">
                    <form class="relative flex items-center">
                        <button
                            class="btn absolute left-2 p-0 md:left-[1vw]"
                            aria-label="Search"
                        >
                            <Search
                                class="hidden md:flex"
                                style="width: 1vw; opacity: 0.75;"
                            />
                            <Search
                                class="flex md:hidden"
                                style="width: 1rem; opacity: 0.75;"
                            />
                        </button>
                        <input
                            type="text"
                            placeholder="Search"
                            class="h-full w-56 rounded-lg border-none bg-surface-400 pl-12 text-base leading-none text-white shadow-lg !ring-0 placeholder:font-medium placeholder:text-surface-50 md:w-full md:rounded-[0.5vw] md:py-[0.5vw] md:pl-[3vw] md:text-[1vw]"
                        />
                    </form>
                    <button class="btn flex gap-2 p-0 leading-none text-surface-50 md:gap-[0.5vw] md:rounded-[0.25vw] md:text-[1vw]">
                        <Cross class="w-4 rotate-45 md:w-[1vw]" />
                        New folder
                    </button>
                </div>

                <div class="mt-5 flex justify-between md:mt-0 md:justify-start md:gap-[3vw]">
                    <button class="btn flex gap-3 p-0 text-base font-semibold leading-none text-surface-50 md:gap-[0.5vw] md:rounded-[0.25vw] md:text-[1vw]">
                        {% include "icons/edit.html" with class="w-4 md:w-[1vw]" %}
                        <span>Rename</span>
                    </button>
                    <button class="btn flex gap-3 p-0 text-base font-semibold leading-none text-surface-50 md:gap-[0.5vw] md:rounded-[0.25vw] md:text-[1vw]">
                        {% include "icons/edit.html" with class="w-4 md:w-[1vw]" %}
                        <span>Edit Details</span>
                    </button>
                    <button class="btn flex gap-3 p-0 text-base font-semibold leading-none text-surface-50 md:gap-[0.5vw] md:rounded-[0.25vw] md:text-[1vw]">
                        <Delete class="w-4 md:w-[1vw]" />
                        <span>Delete</span>
                    </button>
                </div>
            </uploads-options>

            <uploads-table hidden class="mt-10 block md:mt-[3vw]">
                <table class="w-full border-separate border-spacing-y-2 leading-none text-surface-50 md:border-spacing-y-[0.25vw]">
                    <thead>
                        <tr class="text-left md:text-[1vw]">
                            <th>
                                <input
                                    bind:this={main_checkbox}
                                    on:change={handle_main_checkbox_change}
                                    type="checkbox"
                                    class="cursor-pointer rounded border-2 bg-transparent focus:ring-0 focus:ring-offset-0 md:h-[1.25vw] md:w-[1.25vw] md:border-[0.2vw]"
                                />
                            </th>
                            <th>
                                <div class="flex items-center md:gap-[0.5vw]">
                                    <span class="capitalize">name</span>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="md:w-[1vw]" %}
                                    </button>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="rotate-180 opacity-50 md:w-[1vw]" %}
                                    </button>
                                </div>
                            </th>
                            <th>
                                <div class="flex items-center md:gap-[0.5vw]">
                                    <span class="capitalize">type</span>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="md:w-[1vw]" %}
                                    </button>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="rotate-180 opacity-50 md:w-[1vw]" %}
                                    </button>
                                </div>
                            </th>
                            <th>
                                <div class="flex items-center md:gap-[0.5vw]">
                                    <span class="capitalize">date modified</span>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="md:w-[1vw]" %}
                                    </button>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="rotate-180 opacity-50 md:w-[1vw]" %}
                                    </button>
                                </div>
                            </th>
                            <th>
                                <div class="flex items-center md:gap-[0.5vw]">
                                    <span class="capitalize">size</span>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="md:w-[1vw]" %}
                                    </button>
                                    <button class="btn p-0">
                                        {% include "icons/chevron.html" with class="rotate-180 opacity-50 md:w-[1vw]" %}
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <!-- spacing -->
                    <tbody>
                        <tr>
                            <td class="h-5 md:h-[1vw]" />
                        </tr>
                    </tbody>
                    <!-- spacing -->
                    <tbody>
                        <tr>
                            <td class="flex items-center md:gap-[1vw]">
                                <input
                                    bind:this={checkbox_elements[index]}
                                    on:change={handle_sub_checkbox_change}
                                    type="checkbox"
                                    class="cursor-pointer rounded border-2 bg-transparent focus:ring-0 focus:ring-offset-0 md:h-[1.25vw] md:w-[1.25vw] md:border-[0.2vw]"
                                />
                                <button class="btn hidden p-0 md:flex">
                                    <Star
                                        variant="empty"
                                        class="text-surface-50/50 md:w-[1.5vw]"
                                        fill_color="none"
                                    />
                                </button>
                            </td>
                            <td>
                                <span class="md:text-[1vw]">name</span>
                            </td>
                            <td>
                                <span class="md:text-[1vw]">type</span>
                            </td>
                            <td>
                                <span class="md:text-[1vw]">last modified</span>
                            </td>
                            <td>
                                <span class="md:text-[1vw]">size</span>
                            </td>
                        </tr>
                        {/each}
                    </tbody>
                </table>
            </uploads-table>
            <empty-ui class="mt-10 flex w-full flex-col items-center justify-center md:mt-[5vw] md:flex-row md:gap-[2vw]">
                <EmptyUpload class="w-32 stroke-surface-50 stroke-[0.15vw] md:w-[10vw] md:stroke-surface-300" />
                <div class="flex flex-col items-center gap-2 md:items-start md:gap-[0.75vw]">
                    <span class="text-base font-semibold leading-none text-surface-50 md:text-[1.4vw]">Empty!</span>
                    <span class="text-sm leading-none text-surface-300 md:text-[1.1vw]">Upload something to make kokoro-chan happy</span>
                </div>
            </empty-ui>
        </uploads>
    </container>
{% endblock %}
