{% extends 'tailwind_base.html' %}

{% block head %}
    <title>Upload - Login</title>
{% endblock %}

{% block body %}
    <login-container
        class="md:grid md:grid-cols-[2fr_1fr] md:gap-[5vw] w-screen h-screen md:px-[5vw] md:pt-[5vw]"
    >
        <form class="w-full h-full">
            <span class="text-2xl font-semibold md:text-[1.5vw] md:leading-[1.5vw]">
                Paste your
                <span class="inline-flex text-warning-400">API</span>
                token
            </span>
            <span class="text-xl text-surface-50 md:text-[1vw] md:leading-[2vw]">for seamless integration</span>

            <providers class="flex mt-10 md:mt-[5vw]">
                <streamsb class="flex flex-col md:gap-[0.35vw] w-full">
                    <span class="text-xl font-semibold md:text-[1.25vw] md:leading-[1.5vw]">Stream SB</span>
                    <token-input class="flex justify-between gap-5 md:gap-[1vw]">
                        <input
                            name="streamsb"
                            placeholder="StreamSB token"
                            class="h-12 w-full rounded-xl border-2 border-primary-500 bg-transparent px-5 text-base font-medium outline-none !ring-0 transition-all placeholder:text-white/50 focus:border-primary-400 md:h-[3.5vw] md:rounded-[0.6vw] md:border-[0.2vw] md:px-[1vw] md:text-[1.1vw]"
                        />
                        <button
                            type="submit"
                            class="btn btn-primary md:w-[9vw] md:h-[3.5vw] font-semibold leading-none md:rounded-[0.6vw] md:text-[1vw]"
                        >
                            <span>Continue</span>
                            {% include "icons/chevron.html" with class="w-4 -rotate-90 md:w-[1.25vw]" %}
                        </button>
                    </token-input>
                    <info class="flex items-center gap-2 md:gap-[0.5vw]">
                        {% include "icons/info.html" with class="w-3 opacity-70 md:w-[1vw]" %}
                        <span class="text-[0.7rem] leading-none text-surface-300 md:text-[0.9vw]">
                            Insert your unique API token here to unlock the full potential of Streamsb's video services
                        </span>
                    </info>
                </streamsb>
            </providers>
        </form>
        <character-image class="flex flex-col items-end justify-end">
            <gradient class="pointer-events-none absolute [background:var(--mobile-gradient)] md:[background:var(--desktop-gradient)]"></gradient>

            <img
                src="https://github-production-user-asset-6210df.s3.amazonaws.com/114811070/281985715-a3a0f410-bf85-4d99-b736-6a386cba716d.png"
                alt="Fish image"
            >
        </character-image>
    </login-container>
{% endblock %}
