@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Kokoro";
	src: url("@assets/fonts/Kokoro/Kokoro-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Kokoro";
	src: url("@assets/fonts/Kokoro/Kokoro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Kokoro";
	src: url("@assets/fonts/Kokoro/Kokoro-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

* {
  @apply !outline-none select-none;
}
