127.0.0.1 {
    # Django staticassets
    handle_path /static* {
        file_server {
            root ./backend/staticfiles
            browse
        }
    }

    # Django Rest API
    handle /api* {
        reverse_proxy localhost:8000 {
            @sendfile header X-Sendfile *
            handle_response @sendfile {
                rewrite {http.reverse_proxy.header.X-Sendfile}
                encode zstd gzip
                file_server
            }
        }
    }

    # Svelte app working
    handle_path /anime* {
        rewrite * /AnimeCore
        reverse_proxy localhost:3000
    }

    handle /_app* {
        file_server {
            root ./frontend/build/
            browse
        }
    }
    handle /fonts* {
        file_server {
            root ./frontend/build/
            browse
        }
    }
    handle /icons* {
        file_server {
            root ./frontend/build/
            browse
        }
    }
    handle /images* {
        file_server {
            root ./frontend/build/
            browse
        }
    }
    handle /logos* {
        file_server {
            root ./frontend/build/
            browse
        }
    }
}
