{
        log {
                output file ./access.log
                level debug
        }
}

# api.example.com
# 127.0.0.1 {
#        #  Django Rest API
#        reverse_proxy localhost:8000 {
#                @sendfile header X-Sendfile *
#                handle_response @sendfile {
#                        rewrite {http.reverse_proxy.header.X-Sendfile}
#                        encode zstd gzip
#                        file_server
#                }
#        }
# }


# anime.example.com
# 127.0.0.1 {
#         # Svelte AnimeCore SSG
#         encode gzip zstd
#         reverse_proxy localhost:8001
# }

# user.example.com
# 127.0.0.1 {
#         # Svelte AnimeCore SSG
#         encode gzip zstd
#         reverse_proxy localhost:8001
# }