localhost {
        handle_path /* {
                reverse_proxy localhost:8000
        }

        handle_path /media/* {
                file_server {
                        root C:/Programming/Django-Template-main/media
                }
        }

        handle_path /static/* {
                file_server browse {
                        precompressed br gzip zstd
                        root C:/Programming/Django-Template-main/staticfiles
                }
        }

        handle_path /admin/* {
                respond "Django admin is disabled"
        }
}