[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Django
Django = {version="*", extras = ["argon2"] }
whitenoise = {extras = ["brotli"], version = "*"}
django-tinymce = "*"

# Libravatar client
libravatar-py = "*"
# For file watch 
watchgod = "*"
# For mega.py
pycryptodome = "*"
tenacity = ">=5.1.5,<6.0.0"
# HTTP client
httpx = {extras = ["http2"], version = "*"}
# Pillow stuff
pillow = "*"
pillow-avif-plugin = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
dev = "python manage.py runserver"
prod = "python server.py"
