[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
# 3rd Party
django-cleanup = "*"
django-cors-headers = "*"
# 3rd Party ( ENV )
python-dotenv = "*"
# 3rd Party ( Editor )
django-ckeditor = "*"
# 3rd Party ( WhiteNoise )
whitenoise = {extras = ["brotli"], version = "*"}
# 3rd Party ( Tasks )
huey = "*"
redis = "*"
hiredis = {version="*", markers="sys_platform != 'win32'"}
# Rest framework
django-ninja = "*"
requests = "*"
requests-cache = "*"
requests-ratelimiter = "*"
# Web servers
uwsgi = {version="*", markers="sys_platform != 'win32'"}
pillow = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"
django-dbbackup = "*"

[requires]
python_version = "3.10"

[scripts]
dev = 'python manage.py runserver'
sync = 'python manage.py migrate'
mksync = 'python manage.py makemigrations'
collectstatic = 'python manage.py collectstatic --clear --link' # Dont duplicate copy files.
prod = "gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
huey = "python manage.py run_huey"

[pipenv]
allow_prereleases = true
