[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
# 3rd Party
django-filter = "*"
django-cleanup = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
# 3rd Party ( WhiteNoise )
whitenoise = {extras = ["brotli"], version = "*"}
# Rest framework
djangorestframework = "*"
# 3rd party ( schema )
pyyaml = "*"
uritemplate = "*"
# 3rd party
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
# Pillow
pillow = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"

[scripts]
dev = 'python manage.py runserver'
sync = 'python manage.py migrate'
mksync = 'python manage.py makemigrations'
collectstatic = 'python .\manage.py collectstatic --clear --link' # Dont duplicate copy files.
prod = "gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
