[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = ">=4.1", extras = ["argon2"]}
tzdata = "*"
# User Agent Parser
user-agents = "*"
# Regex Parser
pregex = "*"
# Postgres
psycopg2 = "*"
# 3rd Party ( Files )
django-dynamic-filenames = "*"
# 3rd Party ( Middlewares )
django_cleanup = "*"
django_cors_headers = "*"
# 3rd Party ( ENV )
python_dotenv = "*"
# 3rd Party ( WhiteNoise )
whitenoise = {extras = ["brotli"], version = "*"}
# 3rd Party ( Tasks )
huey = "*"
redis = ">=4"
hiredis = "*"
# Rest framework
django_ninja = "*"
pydantic = {extras = ["email"], version = "*"}
# https://github.com/vitalik/django-ninja/issues/305
# ===================================================
httpx = {extras=['http2'],version="*"}
# Web servers
gunicorn = {extras = ["setproctile"], version = "*"}
uvicorn = '*'


[dev-packages]
## Watchfiles
# https://github.com/adamchainz/django-watchfiles/issues/12
# django-watchfiles = "*"
# Django
django_debug_toolbar = "*"
django_dbbackup = "*"
django_cprofile_middleware = "*"
## Code formatting
# Black
black = "*"
# Flake8
flake8 = "*"
# AutoFlake
autoflake = "*"
# Pylint
pylint = "*"
pylint_django = "*"
# Mypy
mypy = "*"
types_redis = "*"
django_stubs = {extras = ["compatible_mypy"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
## Dev Servers
# dev_django = "uvicorn --app-dir=django_core core.asgi:application --reload --port 8003"
dev_django = 'python ./django_core/manage.py runserver 127.0.0.1:8000'
## Prod servers
prod_uvicorn = "gunicorn --app-dir=django_core core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
##  Migrations
sync = "python ./django_core/manage.py migrate"
mksync = "python ./django_core/manage.py makemigrations"
## Task queue
huey = "python ./django_core/manage.py run_huey"
## Staticfiles
collectstatic = "python ./django_core/manage.py collectstatic --clear --link" # Dont duplicate copy files.

[pipenv]
allow_prereleases = true
