[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrate-limiter = "*"
aiohttp = "*"
aiohttp-client-cache = {version="*",extras=['redis']}
aiohttp-retry = "*"
humanize = "*"
termcolor = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
