{% extends 'components/form_box.html' %}
<!--prettier-ignore-->
{% block title %}
Login
{% endblock %}
<!--prettier-ignore-->
{% block form %}
<form method="POST" x-trap="true">
    {% csrf_token %}
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.username }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__account__icon"
                            name="person-circle-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__account__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    {{ form.password }}
                    <span
                        class="icon is-small is-right is-clickable is-unselectable"
                        @click="
                            () => {
                                password_shown =! password_shown
                            }
                        "
                    >
                        👀
                    </span>
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__icon"
                            name="lock-closed-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__password__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items columns is-mobile is-centered">
        <div class="column is-narrow">
            <button id="button" class="button is-rounded is-centered is-ghost">
                Sign in
            </button>
        </div>
    </div>
</form>
<div class="level">
    <div class="level-left">
        <div class="level-item is-size-7">
            <span class="has-text-link">
                <a class="href_tag" href="#"> Forgot password? </a>
            </span>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item is-size-7">
            <p class="new_here_tag">
                New here?
                <span class="has-text-link">
                    <a class="href_tag" href="{% url 'register_page' %}">
                        Register an account
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock %}
