{% extends 'components/form_box.html' %}
<!--prettier-ignore-->
{% load static %}
<!--prettier-ignore-->

{% block title %}
Change info for {{ request.user }}
{% endblock %}

<!--prettier-ignore-->
{% block form %}
<style>
    .select:hover::after {
        border-color: white !important;
    }
    .select::after {
        border-color: #ffffffd1 !important;
    }

    .select-items {
        background-color: black !important;
        color: white !important;
        border-color: var(--button-border-color) !important;
    }
    .select-items:hover {
        border-color: #b5b5b5 !important;
    }
    .select-items option {
        appearance: none;
    }
    .avatar-preview {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
</style>

<form
    enctype="multipart/form-data"
    method="post"
    x-init="$watch('password_shown', (value) => {
    const element = document.querySelector('#id_password')

        switch (value){
            case true:
                element.type = 'text';
                break;
            case false:
                element.type = 'password';

                break;
        }
    })"
>
    {% csrf_token %}

    <div class="icon-box box">
        {% if form.errors %}
        <div
            class="box"
            style="background-color: black; border: 1px dotted red"
        >
            <p class="has-text-centered error">
                Oh No 😵 !! There's seems to be an error 🥺
            </p>
            <p class="has-text-left error">Please take a look at these :</p>
            {#<!--prettier-ignore-->#}

            <div class="pl-5">
                <li class="error-list">
                    {% for field in form %} {% for error in field.errors %} {#<!--prettier-ignore-->#}

                    <ol>
                        <p class="error">
                            {{ field.name }} &#x2192; {{ error | escape }}
                        </p>
                    </ol>

                    {% endfor %} {% endfor %}
                </li>
            </div>
        </div>
        {% endif %}
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <div class="title is-size-4 has-text-white is-unselectable">
                    Hi there, {{ request.user }} 👋
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <figure
                    class="image is-96x96"
                    x-init="
                        () => {
                            const element = document.querySelector('.file-input');
                            element.onchange = function() {
                                const file = element.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function() {
                                        let dataURL = reader.result;
                                        const output = document.querySelector('.avatar-preview');
                                        output.src = dataURL;
                                    }
                                    reader.readAsDataURL(file);
                                }
                            }
                        }
                    "
                >
                    {#<!--prettier-ignore-->#}
                    {{ form.avatar }} 

                    {% if request.user.avatar %}

                    <a
                        href="{{ request.user.avatar.url }}"
                        class="progressive replace"
                        style="
                            border-radius: 9999px;
                            height: 96px;
                            margin: auto;
                        "
                    >
                        <img
                            class="is-rounded preview avatar-preview"
                            src="{% static 'images/placeholder/96x96.avif' %}"
                        />
                    </a>
                    {% else %}
                    <a
                        href="https://seccdn.libravatar.org/avatar/{{ request.user.email_md5 }}?s=96"
                        class="progressive replace"
                        style="
                            border-radius: 9999px;
                            height: 96px;
                            margin: auto;
                        "
                    >
                        <img
                            class="is-rounded preview avatar-preview"
                            src="{% static 'images/placeholder/96x96.avif' %}"
                        />
                    </a>
                    {% endif %}
                </figure>
            </div>
        </div>

        {% if request.user.avatar %}
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <div class="subtitle is-size-7 has-text-white is-unselectable">
                    {{ form.clear_image }}
                    <span class="pl-3"> Clear image </span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <div class="title is-size-4 has-text-white is-unselectable">
                    {#<!--prettier-ignore-->#}
                    Currently serving avatar 
                    {% if request.user.avatar %}
                        locally
                    {% else %}
                        from libravatar
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >First Name :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.first_name }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__a__z__icon"
                            name="alert-circle-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__a__z__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Last Name :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.last_name }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__a__z__icon"
                            name="alert-circle-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__a__z__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Username :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.username }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__account__icon"
                            name="person-circle-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__account__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Password :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    {{ form.password }}
                    <span
                        class="icon is-small is-right is-clickable is-unselectable"
                        @click="
                            async () => {
                                password_shown =! password_shown
                            }
                        "
                    >
                        👀
                    </span>
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__icon"
                            name="document-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__password__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Confirm Password :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.confirm_password }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__lock__icon"
                            name="document-lock-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__password__lock__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="field-label is-normal is-hidden-desktop">
                    <label class="label has-text-white is-unselectable"
                        >Date Joined :</label
                    >
                </div>
                <p class="control is-expanded has-icons-left">
                    <input
                        type="text"
                        class="is-static input is-unselectable"
                        readonly
                        value="{{ request.user.date_joined }}"
                    />
                    <span
                        class="icon is-small is-left is-clickable tippyjs__date__joined"
                        x-init="
                            async () => {
                                tippy('.tippyjs__date__joined', {
                                    content: 'Date joined',
                                    placement: 'left',
                                    theme: 'black',
                                })
                            }
                        "
                    >
                        <ion-icon
                            class="animejs__date__icon"
                            name="calendar-outline"
                            x-init="
                                async () => {
                                    anime({
                                        targets:
                                            '.animejs__date__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items columns is-mobile is-centered">
        <div class="column is-narrow">
            <button id="button" class="button is-rounded is-centered is-ghost">
                Change
            </button>
        </div>
    </div>
</form>

{% endblock %}
