{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg-black">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

        <script src="{% static 'js/anime.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}" data-reload></script>
        <script
            src="{% static 'admin/js/vendor/jquery/jquery.min.js'%}"
            data-reload
        ></script>
        <script
            defer
            src="{% static 'js/bootstrap.bundle.min.js' %}"
            data-reload
        ></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>

        <script type="module">
            import flamethrower from "{% static 'js/flamethrower.js' %}";
            const router = flamethrower({
                prefetch: 'visible',
                log: Boolean("{{ debug|yesno:'true,false' }}"),
                pageTransitions: false,
            });
        </script>
        <script type="module">
            const CHOICES = [
                'https://images.unsplash.com/photo-1666688090267-4858c2075629',
                'https://images.unsplash.com/photo-1666756272254-724e9ed61321',
                'https://images.unsplash.com/photo-1666845266582-7885e3485303',
            ];

            CHOICES.forEach((item) => {
                var link = document.createElement('link');
                link.rel = 'preload';
                link.as = 'image';
                link.href = item;
                document.head.appendChild(link);
            });

            const element = document.querySelector('.background____item');

            const changeBackground = (background_image) => {
                anime
                    .timeline({
                        targets: element,
                        duration: 400,
                        easing: 'easeInOutQuad',
                    })
                    .add({
                        opacity: 0,
                    })
                    .add({
                        opacity: 1,
                        begin: () => {
                            element.innerHTML = '';
                            const newElement = document.createElement('div');
                            newElement.classList = 'vh-100 vw-100';
                            newElement.style.backgroundImage = `url('${background_image}')`;
                            newElement.style.filter = 'brightness(0.5)';
                            newElement.style.backgroundRepeat = 'no-repeat';
                            newElement.style.backgroundSize = 'cover';
                            element.appendChild(newElement);
                        },
                    });
            };

            var last_known_image = '';
            setInterval(() => {
                const NewChoice = CHOICES.filter(
                    (item) => item != last_known_image
                );
                const index = Math.floor(Math.random() * NewChoice.length);
                last_known_image = NewChoice[index];
                changeBackground(NewChoice[index]);
            }, 5000);
        </script>

        {% block head %}{% endblock head %}
    </head>
    <body class="bg-black">
        <div class="d-grid vh-100 vw-100" style="grid-area: 1 / 1 / 2 / 2">
            <div style="grid-area: 1 / 1 / 2 / 2" class="background____item">
                <div
                    class="vh-100 vw-100"
                    style="
                        filter: brightness(0.5);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-image: url('https://images.unsplash.com/photo-1666756272254-724e9ed61321');
                    "
                ></div>
            </div>
            <div
                class="justify-content-center align-content-center"
                style="display: inline-grid; grid-area: 1 / 1 / 2 / 2"
            >
                {% block body %}{% endblock body %}
            </div>
        </div>
    </body>
</html>
