{% extends 'user/base.html' %}
<!--prettier-ignore-->
{% load crispy_forms_tags %}

{% block body %}
<div class="card" style="width: 20rem">
    <div class="card-header">Featured</div>
    {%crispy form%}
</div>

<script type="module">
    //setup before functions
    var typingTimer; //timer identifier
    var doneTypingInterval = 5000; //time in ms, 5 seconds for example
    var input = $('#id_username_discriminator');

    //on keyup, start the countdown
    input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //on keydown, clear the countdown
    input.on('keydown', function () {
        clearTimeout(typingTimer);
    });

    //user is "finished typing," do something
    function doneTyping() {
        let usernameDiscriminator = input.val();
        let username = document.querySelector('#id_username').value;

        $.ajax({
            url: "{% url 'username_discriminator_endpoint' %}",
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username: username,
                username_discriminator: Number(usernameDiscriminator),
            },
        });
    }
</script>
{% endblock body %}
