$tag-color : white;

$warning : #E3BD49;
$black : black;
@import 'bulma/bulma.sass';


html{
    scrollbar-width: none;

    // Bulma inspired classes
 
    .has-border-transparent {
        border-color: transparent !important;
    }

}
