

<div class="flex flex-col gap-2 whitespace-nowrap font-bold uppercase leading-none tracking-widest text-white md:text-[1.2vw] md:gap-[0.5vw]">
    <span class="text-base font-bold uppercase tracking-widest md:text-[1.2vw]">forgot password? don't worry!</span>
    <span class="uppercase md:text-[1vw] font-medium text-white/90">Reclaim Your Anime Journey</span>
</div>
<email-field class="flex flex-col gap-[0.3rem] md:gap-[0.5vw]">
    <label class="text-base font-semibold leading-none md:text-[1.1vw]">
        {{ form.email.label }}
    </label>
    {{ form.email }}
    <info class="flex items-center gap-2 md:gap-[0.5vw]">
        {% include "icons/info.html" with class="w-3 opacity-70 md:w-[0.9vw]" %}
        <span class="text-[0.7rem] leading-none text-surface-300 md:text-[0.8vw]">
            {% if form.email.errors %}
                <markdown markdown="{{form.email.errors|first}}"></markdown>
            {% else %} 
                {{ form.email.help_text }}
            {% endif %}
        </span>
    </info>
</email-field>
<div class="flex items-center justify-between">
    <div class="flex flex-col gap-1 md:gap-[0.5vw]">
        <span class="text-xs leading-none text-surface-100 md:text-[0.75vw]">Don't have a core account?</span>
        <button
            hx-get="{% url 'register_view' %}"
            hx-push-url="{% url 'register_view' %}"

            class="text-start text-base leading-none md:text-[1.1vw] text-primary underline"
        >
            Register
        </button>
    </div>
    <button
        type="submit"
        class="btn btn-primary text-accent h-12 rounded-lg p-0 px-5 text-base font-semibold md:h-[2.75vw] md:rounded-[0.5vw] md:px-[1.25vw] md:text-[0.95vw] leading-none"
    >
        <span>Continue</span>
        {% include "icons/arrow_up_right.html" with class="w-4 rotate-45 md:w-[1vw]" %}
    </button>
</div>
