{% extends 'components/form_box.html' %}
<!--prettier-ignore-->
{% load static %}

{% block title %}
Register
{% endblock %}

{% block form %} {% if request.user.is_authenticated %}
{#<!--prettier-ignore-->#}
<p class="has-text-white has-text-centered">
    How can a man be registered twice ? 🤔
</p>
<p class="has-text-white has-text-centered">
    Thats a question for the wise. 🧙‍♂️
</p>

{% else %}
<form
    method="POST"
    enctype="multipart/form-data"
    x-trap="true"
    x-init="
        $watch('password_shown', (value) => {
            const elementOne = document.querySelector('#id_password_1');
        
            switch (value) {
                case true:
                    elementOne.type = 'text';
                    break;
                case false:
                    elementOne.type = 'password';
                    break;
            }
        });
    "
>
    {% csrf_token %}
    <div
        class="is-flex is-justify-content-center has-text-white is-size-5 has-text-centered"
    >
        <p>&#8595;&nbsp; Avatar &nbsp;&#8595;</p>
    </div>
    <div class="file is-large is-flex is-justify-content-center pb-3">
        <label
            class="file-label"
            x-init="
                () => {
                    const element = document.querySelector('.file-input');
                    element.onchange = function() {
                        const file = element.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function() {
                                let dataURL = reader.result;
                                const output = document.querySelector('.avatar-preview');
                                output.width = '50';
                                output.height = '40';
                                output.src = dataURL;

                                const fileIconDiv = document.querySelector('.file-icon')
                                fileIconDiv.classList.add('is-hidden')
                            }
                            reader.readAsDataURL(file);
                        }
                    }
                }
            "
        >
            {{ form.avatar }}
            <span class="file-cta" style="background-color: black">
                <img class="avatar-preview" style="border-radius: 99999px" />
                <span class="file-icon mr-0">
                    <ion-icon
                        name="cloud-upload-outline"
                        class="animejs__upload__icon"
                        x-init="
                            () => {
                                anime({
                                    targets: '.animejs__upload__icon',
                                    scale: 1.6,
                                    color: '#FFFFFF',
                                });
                            }
                    "
                    ></ion-icon>
                </span>
            </span>
        </label>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.first_name }}
                    <span class="icon is-small is-left">
                        <img
                            class="animejs__character__a__icon"
                            src="{% static 'authentication/svg/character_a.svg' %}"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__character__a__icon',
                                        scale: 0.8,
                                    });
                                }
                            "
                        />
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.last_name }}
                    <span class="icon is-small is-left">
                        <img
                            class="animejs__character__z__icon"
                            src="{% static 'authentication/svg/character_z.svg' %}"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__character__z__icon',
                                        scale: 0.8,
                                        translateY: -1,
                                    });
                                }
                            "
                        />
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.username }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__username__icon"
                            name="person-circle-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__username__icon',
                                        color: '#FFFFFF',
                                        scale: 1.6,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.email }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__mail__icon"
                            name="mail-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets: '.animejs__mail__icon',
                                        color: '#FFFFFF',
                                        scale: 1.4,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    {{ form.password }}
                    <span
                        class="icon is-small is-right is-clickable is-unselectable"
                        @click="
                            () => {
                                password_shown =! password_shown
                            }
                        "
                    >
                        👀
                    </span>
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__one__icon"
                            name="lock-closed-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__password__one__icon',
                                        color: '#FFFFFF',
                                        scale: 1.4,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.confirm_password }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__two__icon"
                            name="document-lock-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__password__two__icon',
                                        color: '#FFFFFF',
                                        scale: 1.7,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items columns is-mobile is-centered">
        <div class="column is-narrow">
            <button id="button" class="button is-rounded is-centered is-ghost">
                Register
            </button>
        </div>
    </div>
</form>
{% endif %} {% endblock %}
