[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
# 3rd Party
django-cleanup = "*"
django-cors-headers = "*"
# Rest framework
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
# Pillow stuff
pillow = "*"
pillow-avif-plugin = "*"
django-filter = "*"

[dev-packages]
black = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"

[scripts]
dev = 'python manage.py runserver'
sync = 'python manage.py migrate'
mksync = 'python manage.py makemigrations'
collectstatic = 'python .\manage.py collectstatic'
prod = "gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
# Optimize bulma ( Purge CSS )
optimize_bulma = "npx purgecss --css static/vendor/bulma/bulma.min.css --content **/*.html **/*.js --output staticfiles/vendor/bulma/bulma.min.css"
