<div class="flex flex-col gap-2 whitespace-nowrap font-bold uppercase leading-none tracking-widest text-white md:text-[1.2vw] md:gap-[0.5vw]">
    <span class="text-base font-bold uppercase tracking-widest md:text-[1.2vw]">choose your username and verify</span>
    <span class="uppercase md:text-[1vw] font-medium text-white/90">Secure Your Spot in the Anime Community!</span>
</div>
<div class="flex flex-col md:gap-[1.5vw]">
    <username-field class="flex flex-col gap-[0.3rem] md:gap-[0.35vw] w-full">
        <label for="username" class="text-lg font-semibold md:text-[1.1vw] leading-none">
            {{ form.username.label }}
        </label>
        {{ form.username }}
        <info class="flex items-start gap-2 md:gap-[0.5vw]">
            {% include "icons/info.html" with class="w-3 opacity-70 md:w-[0.9vw]" %}
            <span
                id="username_help_text"
                class="text-xs text-surface-300 md:text-[0.75vw]"
            >
                {% if form.username.errors %}
                    <coreproject-markdown markdown="{{ form.username.errors.as_text|safe }}"></coreproject-markdown>
                {% else %}
                    {{ form.username.help_text }}
                {% endif %}
            </span>
        </info>
    </username-field>
    <otp-field class="flex flex-col gap-[0.3rem] md:gap-[0.35vw] w-full">
        <label for="otp" class="text-lg font-semibold md:text-[1.1vw] leading-none">
            {{ form.otp.label }}
        </label>
        {{ form.otp }}
        <info class="flex items-start gap-2 md:gap-[0.5vw]">
            {% include "icons/info.html" with class="w-3 opacity-70 md:w-[0.9vw]" %}
            <span class="text-xs text-surface-300 md:text-[0.75vw]">{{ form.otp.help_text }}</span>
        </info>
    </otp-field>
    <div class="mt-3 flex flex-col items-start md:mt-0">
        <button class="btn !bg-secondary p-0 text-base font-semibold leading-none text-primary underline md:text-[1vw] flex flex-col items-start">
            &lt; resend code &gt;
        </button>
        <button class="btn !bg-secondary p-0 text-base font-semibold leading-none text-primary underline md:text-[1vw] flex flex-col items-start">
            &lt; change email &gt;
        </button>
    </div>
</div>
<div class="flex items-center justify-between">
    <div class="flex flex-col gap-1 md:gap-[0.5vw]">
        <span class="text-xs leading-none text-surface-100 md:text-[0.75vw]">Already have an account?</span>
        <button
            hx-get="{% url 'login_view' %}"
            hx-push-url="{% url 'login_view' %}"
            hx-target="<content/>"
            class="text-start text-base leading-none md:text-[1.1vw] text-primary underline"
        >
            Login
        </button>
    </div>
    <button
        type="submit"
        class="btn btn-primary text-accent h-12 rounded-lg p-0 px-5 text-base font-semibold md:h-[2.75vw] md:rounded-[0.5vw] md:px-[1.25vw] md:text-[0.95vw] leading-none"
    >
        <span>Continue</span>
        {% include "icons/arrow_up_right.html" with class="w-4 rotate-45 md:w-[1vw]" %}
    </button>
</div>
