{% extends 'user/_layout.html'%}

{% block title %}
    Register | CoreProject
{% endblock %}

{% block head %}

{% endblock %}

{% block sidebody %}
    <form
        class="flex h-max w-full flex-col bg-surface-900 p-10 pb-[10vw] pt-[7vw] md:h-full md:justify-between md:rounded-none md:p-0"
        hx-post='{{request.get_full_path}}'
        hx-target="#target"
        enctype="application/x-www-form-urlencoded"
    >
        <div
            id="target"
            class='contents'
            hx-get='{{request.path}}'
            hx-target='this'
            hx-trigger='load'
        ></div>
    </form>
{% endblock %}
