{% extends 'user/_layout.html'%}

{% block title %}
    Register | CoreProject
{% endblock %}

{% block head %}

{% endblock %}

{% block sidebody %}
    <form
        class="flex h-max w-full flex-col p-10 pb-[10vw] pt-[7vw] md:h-full md:justify-between md:rounded-none md:p-0"
        hx-post="{{request.get_full_path}}"
        hx-target="this"
        enctype="application/x-www-form-urlencoded"
    >
        <content class='contents'>
            <div
                hx-get="{{request.get_full_path}}"
                hx-target="<content/>"
                hx-trigger="load"
            ></div>
        </content>
    </form>
{% endblock %}
