[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["full"], version = "*"}
buildozer = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
debug = "buildozer -v android debug"
deploy = 'buildozer -v android debug deploy'
