[[source]]
url = "https://kivy.org/downloads/simple/"
verify_ssl = true
name = "kivy_nightly"


[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivymd = "*"
cython = "==3.0.0a11"

[dev-packages]

[requires]
python_version = "3.11"
