[[source]]
url = "https://kivy.org/downloads/simple/"
verify_ssl = true
name = "kivy_nightly"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://kivy.org/downloads/simple/"
verify_ssl = false
name = "kivy_nightly"

[packages]
kivymd = {version="*", index="pypi"}
kivy = {extras = ["base"], version = "*", index='kivy_nightly'}
anyio = {extras = ["trio"], version = "*", index="pypi"}

[dev-packages]
black =  {version="*", index="pypi"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
dev = "python main.py"
