@use "swiper/scss";

@use "swiper/scss/autoplay";
@use "swiper/scss/mousewheel";
@use "swiper/scss/pagination";
@use "swiper/scss/effect-fade";

:root{
    --swiper-pagination-color:#E3BD49;
    --swiper-pagination-bullet-inactive-color:#EDD68D;
    --swiper-pagination-bullet-inactive-opacity: .3;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bullet-size: 10px;
}

@media screen and (min-width: 0px) and (max-width: 992px){
    :root {
        --swiper-pagination-bullet-horizontal-gap: 3px;
    }
}


.hero {
    min-height: 100Vh;

    @media screen and (min-width:0px) and (max-width : 992px){
        min-height: 30vh;
        max-height: 70vh;
    }

}

html{
    scrollbar-width: none;
    background-color: black;

    &,
    body {
        overscroll-behavior-y: contain; // Disable Rubber Band
        height: 100%; // Full Height ( LINK )
        
    }

    .swiper {
        width: 100%;
        height:100%;
        @extend .hero
    }

    #__next {
        height:100%; // Full Height ( LINK )
    }
}

// Fonts
@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
