@use "swiper/scss";

@use "swiper/scss/mousewheel";
@use "swiper/scss/pagination";
@use "swiper/scss/effect-fade";
@use 'swiper/scss/lazy';


:root{
    --swiper-pagination-color:#E3BD49;
    --swiper-pagination-bullet-inactive-color:#EDD68D;
    --swiper-pagination-bullet-inactive-opacity: .3;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bullet-size: 10px;
}

@media screen and (min-width: 0px) and (max-width: 992px){
    :root {
        --swiper-pagination-bullet-horizontal-gap: 3px;
    }
}



html{
    &,
    body {
        overscroll-behavior-y: contain; // Disable Rubber Band
        height: 100%; // Full Height ( LINK )
        overflow:hidden;
        scrollbar-width: none;
        background-color: black;
    }


    .swiper{
        height: 100%;
        width:100%;
    }

    // This is the hack we are looking for
    .swiper-slide {
        height:auto;
    }

    #__next {
        height:100%; // Full Height ( LINK )
    }
    /** ============= END SWIPER HACK ======= */

}
