[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp_client_cache = {extras = ["redis"], version = "*"}
aiohttp-retry = "*"
pyrate-limiter = {extras = ["redis"], version = "*"}
humanize = "*"
termcolor = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[scripts]
seed_character = 'python character.py'
seed_staff = 'python staff.py'
