{% load static django_htmx django_vite %}
<!DOCTYPE html>
<html lang="en" data-theme="kokoro" class="scroll-smooth" style='background-color:black !important;'>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="darkreader-lock" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta
            name="description"
            content="Bridging the gap between streaming & torrenting sevices, with a modern and clean interface"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="{% vite_asset_url 'images/favicon/favicon.svg' %}"
        />
        <script>

            window.csrfmiddlewaretoken = `{{ csrf_token }}`;
            window.user_authenticated = `{{ request.user.is_authenticated }}`;

            document.addEventListener('DOMContentLoaded', () => {
                document.body.addEventListener(
                    'fetch:beforeRequest',
                    (event) => {
                        event.detail.headers[
                            'X-CSRFToken'
                        ] = window.csrfmiddlewaretoken;
                    }
                );
            });

        </script>

        <script>
            window.urls = new Map();
            {% autoescape off %}
                {% for pattern in urlpatterns %}
                    {% if pattern.name %}
                        window.urls.set(`{{pattern.name}}`, `{{pattern.url}}`);
                    {% endif %}
                {% endfor %}
            {% endautoescape %}

        </script>
        {% vite_hmr_client %}

        {% vite_asset 'main.ts' %}

   

        {% django_htmx_script %}
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' style='background-color:black !important;'>
        {% block body %}{% endblock %} {% block js %}{% endblock %}
        <div id="toast" class="toast p-0 absolute bottom-[0.75vw] right-[0.75vw]"></div>
        <script>

        </script>
    </body>
</html>
