{% load static django_htmx django_vite %}
<!DOCTYPE html>
<html lang="en" data-theme="kokoro">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="darkreader-lock" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta
            name="description"
            content="Bridging the gap between streaming & torrenting sevices, with a modern and clean interface"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="{% static 'images/favicon/favicon.svg' %}"
        />

        {% vite_hmr_client %}
        
        {% vite_asset 'js/vendor/htmx.ts' %}
        {% vite_asset 'js/vendor/hyperscript.ts' %}

        <link rel='stylesheet' href='{% vite_asset_url 'css/index.postcss' %}'/>

        {% django_htmx_script %} 
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock %} {% block js %}{% endblock %}
        <div id="toast" class="toast p-0 absolute bottom-[0.75vw] right-[0.75vw]"></div>
        <script>
         
        </script>
    </body>
</html>
