{% load django_vite %}


{% vite_asset 'js/textarea.ts' %}

<text-editor class="relative rounded-lg ring-2 ring-surface-300/25 transition duration-300 focus-within:ring-primary md:rounded-[0.75vw] md:ring-[0.15vw] flex flex-col">
    <textarea-navbar class="flex h-8 items-center justify-between rounded-t-lg md:h-[2.5vw] md:rounded-t-[0.75vw]">
        <div class="btn-group w-full h-full overflow-hidden p-[0.15vw]">
            <button
                type="button"
                class="bg-neutral rounded-l-[0.6vw] min-h-full h-8 px-5 text-xs capitalize leading-[1.5vw] transition-colors duration-100 md:h-[2.5vw] md:px-[1.5vw] md:text-[1vw]"
            >edit</button>
            <preview-button
                class="min-h-full h-8 px-5 text-xs capitalize leading-[1.5vw] transition-colors duration-100 md:h-[2.5vw] md:px-[1.5vw] md:text-[1vw]"
            >preview</preview-button>
        </div>
        <div class="flex items-center gap-2 pr-4 md:gap-[0.75vw] md:pr-[1vw]">
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add bold text, <Ctrl + b>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    data-action="bold"
                    aria-label="bold"
                >
                    {% include "icons/bold.html" with class="md:h-[1.55vw]" %}
                </button>
            </div>
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add italic text, <Ctrl + i>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    data-action="italic"
                    aria-label="italic"
                >
                    {% include "icons/italic.html" with class="md:h-[1.5vw]" %}
                </button>
            </div>
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add underline text, <Ctrl + i>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    data-action="underline"
                    aria-label="underline"
                >
                    {% include "icons/underline.html" with class="md:h-[1.25vw]" %}
                </button>
            </div>
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add strikethrough text, <Ctrl + Shift + x>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    aria-label="strike"
                    data-action="strike"
                >
                    {% include "icons/strike.html" with class="md:h-[1.45vw]" %}
                </button>
            </div>
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add code text, <Ctrl + e>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    data-action="code"
                    aria-label="code"
                >
                    {% include "icons/code.html" with class="md:h-[1.5vw]" %}
                </button>
            </div>
            <div
                class="tooltip before:md:text-[0.9vw] before:px-[0.5vw] before:py-[0.25vw]"
                data-tip="Add hyperlink text, <Ctrl + k>"
            >
                <button
                    class="btn border-none !bg-transparent min-h-full p-0"
                    type="button"
                    data-action="hyperlink"
                    aria-label="hyperlink"
                >
                    {% include "icons/hyperlink.html" with class="md:h-[1.25vw]" %}
                </button>
            </div>
        </div>
    </textarea-navbar>
    <textarea
        id="textarea"
        spellcheck="true"
        placeholder="Leave a comment"
        class="w-full resize-none border-none bg-secondary px-3 text-sm leading-tight text-surface-50 outline-none duration-300 ease-in-out placeholder:text-surface-200 focus:ring-0 md:px-[1vw] md:text-[1vw] md:leading-[1.5vw] h-28 overflow-y-scroll md:h-[8vw]"
    ></textarea>
    <preview class="hidden w-full resize-none border-none bg-secondary px-3 text-sm leading-tight text-surface-50 outline-none duration-300 ease-in-out placeholder:text-surface-200 focus:ring-0 md:px-[1vw] md:text-[1vw] md:leading-[1.5vw] h-28 overflow-y-scroll md:h-[8vw]" />
    <textarea-footer
        class="flex items-center gap-[0.25vw] px-4 py-2 text-[0.65rem] font-thin leading-[1.5vw] text-accent md:px-[1vw] md:py-[0.1vw] md:text-[0.75vw]"
        style="align-self: flex-end;"
    >
        Learn more about <a class="underline" href="/">core editor</a>
    </textarea-footer>
</text-editor>
