// Import progressive-image.css
@import url("https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css");

// Fonts import
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/ubuntu/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/cantarell/index.min.css");

// Bulma Varibales override
$black: black !default;
$family-sans-serif: "Roboto", "Cantarell", "Ubuntu";

// Bulma import
@import "bulma/bulma.sass";

// @Override

.is-underlined {
    text-underline-offset: 5px;
}

.has-text-white {
    // Why doesn't bulma style placeholders ? 🤔
    &:visited,
    &::placeholder {
        color: $white !important;
    }
}

.has-text-blue {
    color: cornflowerblue;

    &:visited,
    &::placeholder {
        color: cornflowerblue !important;
    }
}

.has-text-green {
    color: springgreen;

    &:visited,
    &::placeholder {
        color: springgreen !important;
    }
}

.has-text-yellow {
    color: yellow;

    &:visited,
    &::placeholder {
        color: yellow !important;
    }
}

.has-text-red {
    color: red;

    &:visited,
    &::placeholder {
        color: red !important;
    }
}
// Special Classes ( inspired by bulma )

.has-border-white {
    border: 1px solid white;
}
.has-no-text-decoration {
    text-decoration: none !important;
}

.has-border-gray {
    border: 1px solid #353333 !important;
}
.has-border-green {
    border-color: springgreen !important;
    border: 1px solid;

    &:not(.tag) {
        box-shadow: springgreen 0.2px 0.2px 0.2px 0.2px inset, springgreen 0.2px 0.2px 0.2px 0.2px;
    }
}
.has-border-blue {
    border-color: cornflowerblue !important;
    border: 1px solid;

    &:not(.tag) {
        box-shadow: cornflowerblue 0.2px 0.2px 0.2px 0.2px inset,
            cornflowerblue 0.2px 0.2px 0.2px 0.2px;
    }
}
.has-border-red {
    border-color: red !important;
    border: 1px solid;
    box-shadow: red 0.2px 0.2px 0.2px 0.2px inset, red 0.2px 0.2px 0.2px 0.2px;
}

.has-hover-gray {
    transition: 0.2s;

    &:hover,
    &.hover {
        background-color: hsl(0, 0%, 7.8%) !important;
    }
}

.is-position-fixed {
    position: fixed !important;
}
.is-borderless {
    border: 0 !important;
}

.is-font-face-cantarell {
    font-family: "Cantarell" !important;
}
.is-font-face-roboto {
    font-family: "Roboto" !important;
}
.is-font-face-ubuntu {
    font-family: "Ubuntu" !important;
}

// Import Swiper styles
@import "swiper/scss";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
// Tippy theme
@import "tippy.js/dist/tippy.css";
@import "tippy.js/animations/scale.css";
@import "tippy.js/dist/backdrop.css";
@import "tippy.js/animations/shift-away.css";

// Import VimeJS
@import "@vime/core/themes/default.css";

vm-player {
    // VIMEJS
    --vm-menu-bg: rgb(14, 13, 13) !important;
    --vm-color-dark: rgb(14, 13, 13) !important;
}

// Some defaults
:root {
    --button-border-color: hsl(0, 0%, 20%);
    --button-color-hover: hsl(0, 0%, 5%);
    --error-message-color: #f00;
}

html {
    scrollbar-width: thin;

    ion-icon {
        visibility: inherit !important;
        pointer-events: none;
    }
    body {
        // Tippy JS theme Black
        .tippy-box[data-theme~="black"] {
            background-color: $black !important;
            border: 1px solid $white !important;

            &[data-placement^="top"] {
                .tippy-arrow {
                    &::before {
                        border-top-color: $white;
                    }
                }
            }
            &[data-placement^="bottom"] {
                .tippy-arrow {
                    &::before {
                        border-bottom-color: $white;
                    }
                }
            }
            &[data-placement^="left"] {
                .tippy-arrow {
                    &::before {
                        border-left-color: $white;
                    }
                }
            }
            &[data-placement^="right"] {
                .tippy-arrow {
                    &::before {
                        border-right-color: $white;
                    }
                }
            }
        }
    }
}
