{% extends 'components/form_box.html' %}
<!--prettier-ignore-->
{% load static %}
<!--prettier-ignore-->

{% block title %}
Change info for {{ request.user }}
{% endblock %}

<!--prettier-ignore-->
{% block form %}
<style>
    .select:hover::after {
        border-color: white !important;
    }
    .select::after {
        border-color: #ffffffd1 !important;
    }

    .select-items {
        background-color: black !important;
        color: white !important;
        border-color: var(--button-border-color) !important;
    }
    .select-items:hover {
        border-color: #b5b5b5 !important;
    }
    .select-items option {
        appearance: none;
    }
</style>

<div class="icon-box box">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <div class="title is-size-4 has-text-white is-unselectable">
                Hi there, {{ request.user }} :
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <figure class="image is-96x96">
                <a
                    href="{% url 'api_avatar' request.user.id %}?s=96"
                    class="progressive replace"
                    style="border-radius: 9999px"
                >
                    <img
                        class="is-rounded preview"
                        src="{% static 'images/placeholder/96x96.avif' %}"
                    />
                </a>
            </figure>
        </div>
    </div>
</div>
<form method="POST" x-trap="true">
    {% csrf_token %}
    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >First Name :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p
                    class="control is-expanded has-icons-left"
                    x-init="
                        () => {
                            for (let i = 0; i < $el.childNodes.length; i++) {
                                const element = $el.childNodes[i];

                                try {
                                    if (element.tagName.toLowerCase() === 'input') {
                                        element.value = '{{ request.user.first_name }}'
                                    } 
                                } catch (e) {
                                    // If i dont do this theres a error saying cant access element.tagName
                                }
                            }
                        }
                    "
                >
                    {{ form.first_name }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__a__z__icon"
                            name="alert-circle-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__a__z__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Last Name :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p
                    class="control is-expanded has-icons-left"
                    x-init="
                        () => {
                            for (let i = 0; i < $el.childNodes.length; i++) {
                                const element = $el.childNodes[i];

                                try {
                                    if (element.tagName.toLowerCase() === 'input') {
                                        element.value = '{{ request.user.last_name }}'
                                    } 
                                } catch (e) {
                                    // If i dont do this theres a error saying cant access element.tagName
                                }
                            }
                        }
                    "
                >
                    {{ form.last_name }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__a__z__icon"
                            name="alert-circle-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__a__z__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Username :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p
                    class="control is-expanded has-icons-left"
                    x-init="
                        () => {
                            for (let i = 0; i < $el.childNodes.length; i++) {
                                const element = $el.childNodes[i];

                                try {
                                    if (element.tagName.toLowerCase() === 'input') {
                                        element.value = '{{ request.user.username }}'
                                    } 
                                } catch (e) {
                                    // If i dont do this theres a error saying cant access element.tagName
                                }
                            }
                        }
                    "
                >
                    {{ form.username }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__account__icon"
                            name="person-circle-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__account__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Password :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    {{ form.password }}
                    <span
                        class="
                            icon
                            is-small is-right is-clickable is-unselectable
                        "
                        @click="
                            () => {
                                password_shown =! password_shown
                            }
                        "
                    >
                        👀
                    </span>
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__icon"
                            name="document-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__password__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-label is-normal is-hidden-desktop">
            <label class="label has-text-white is-unselectable"
                >Confirm Password :</label
            >
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    {{ form.confirm_password }}
                    <span class="icon is-small is-left">
                        <ion-icon
                            class="animejs__password__lock__icon"
                            name="document-lock-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__password__lock__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="field-label is-normal is-hidden-desktop">
                    <label class="label has-text-white is-unselectable"
                        >Date Joined :</label
                    >
                </div>
                <p class="control is-expanded has-icons-left">
                    <input
                        type="text"
                        class="is-static input is-unselectable"
                        readonly
                        value="{{ request.user.date_joined }}"
                    />
                    <span
                        class="
                            icon
                            is-small is-left
                            has-tooltip-arrow has-tooltip-left
                            is-clickable
                        "
                        data-tooltip="Date Joined"
                    >
                        <ion-icon
                            class="animejs__date__icon"
                            name="calendar-outline"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__date__icon',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        >
                        </ion-icon>
                    </span>
                </p>
            </div>

            <div class="field">
                <div class="field-label is-normal is-hidden-desktop">
                    <label class="label has-text-white is-unselectable"
                        >Avatar :</label
                    >
                </div>
                <p class="control has-icons-left has-icons-right">
                    <span
                        class="select"
                        x-init="
                                () => {
                                    for (let i = 0; i < $el.childNodes.length; i++) {
                                        const element = $el.childNodes[i];
                
                                        try {
                                            if (element.tagName.toLowerCase() === 'select') {
                                                element.value = '{{ request.user.avatar_url }}';
                                            } 
                                        } catch (e) {
                                            // If i dont do this theres a error saying cant access element.tagName
                                        }
                                    }
                                }
                            "
                        >{{ form.avatar_url }}</span
                    >
                    <span class="icon is-small is-left">
                        <ion-icon
                            name="link"
                            class="animejs__link__icon"
                            x-init="
                                    () => {
                                        anime({
                                            targets:
                                                '.animejs__link__icon',
                                            color: '#FFFFFF',
                                            scale: 1.3,
                                        });
                                    }
                                "
                        ></ion-icon>
                    </span>
                    <span
                        class="
                            icon
                            is-small is-right is-clickable
                            has-tooltip-arrow has-tooltip-right
                            is-hidden-touch
                        "
                        data-tooltip="Avatar Provider Name"
                        ><ion-icon
                            name="id-card-outline"
                            class="animejs__id__card"
                            x-init="
                                () => {
                                    anime({
                                        targets:
                                            '.animejs__id__card',
                                        color: '#FFFFFF',
                                        scale: 1.5,
                                    });
                                }
                            "
                        ></ion-icon>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="items columns is-mobile is-centered">
        <div class="column is-narrow">
            <button id="button" class="button is-rounded is-centered is-ghost">
                Change
            </button>
        </div>
    </div>
</form>
{% endblock %}
