{% extends 'tailwind_base.html' %}
{% load static django_vite %}


{% block head %}
    {% vite_asset 'js/vendor/easytimer.ts' %}
    {% component_css_dependencies %}
    <title>AnimeCore</title>
{% endblock %}

{% block body %}
    <div class="relative h-dvh bg-secondary">
        <div class="w-full h-full flex flex-col overflow-hidden">
            <header class="flex-none z-10">
                <navbar class="absolute top-0 flex h-[4.5rem] w-full items-center justify-between bg-secondary/95 px-4 backdrop-blur-3xl md:static md:h-[10vh] md:bg-secondary md:py-[0.9375vw] md:pl-[2.1vw] md:pr-[3.75vw]">
                    <a href="/">
                        <coreproject-icon-coreproject class="w-9 md:w-[2.25vw] md:pt-[0.75vw]"></coreproject-icon-coreproject>
                    </a>
                    <div class="relative flex items-center md:static">
                        <div class="absolute left-1/2 -translate-x-1/2">
                            <a href="/anime" class="hidden md:flex">
                                <coreproject-icon-animecore class="w-[10vw]" ></coreproject-icon-animecore>
                            </a>
                            <search-form>
                                <form class="relative flex h-12 w-[65vw] items-center md:hidden">
                                    <button class="btn absolute left-4 p-0 !bg-transparent border-none" aria-label="Search">
                                        <coreproject-icon-search class="w-5"></coreproject-icon-search>
                                    </button>
                                    <input
                                        type="text"
                                        placeholder="Search for animes, mangas..."
                                        class="h-full w-full rounded-lg border-none bg-neutral pl-12 text-base font-semibold text-accent shadow-lg !ring-0 placeholder:font-medium placeholder:text-surface-200"
                                    />
                                </form>
                            </search-form>
                        </div>
                    </div>
                    <coreproject-specific-navbar></coreproject-specific-navbar>
                </navbar>
            </header>
            <div class="flex-auto w-full h-full flex overflow-hidden">
                <aside class="flex-none overflow-x-hidden overflow-y-auto w-auto">
                    <div class="hidden h-full w-[6.25vw] flex-col justify-between py-[2vw] md:flex">
                        <div>
                            <div class="flex flex-col items-center">
                                <coreproject-specific-search-modal-trigger class="btn btn-warning w-[3vw] h-[3vw] p-0 rounded-[0.5vw]">
                                    <coreproject-icon-search class="w-[1.25vw] text-black" ></coreproject-icon-search>
                                </coreproject-specific-search-modal-trigger>
                            </div>
                            <coreproject-specific-search-modal></coreproject-specific-search-modal>

                            <coreproject-sidebar></coreproject-sidebar>

                        </div>
                        <div class="flex flex-col items-center">
                            <button type="button" class="btn !bg-transparent border-none w-[4vw] h-[4vw] flex-col justify-center gap-[0.45vw] p-0 text-sm">
                                <coreproject-icon-settings class="w-[1.25vw] text-white"></coreproject-icon-settings>
                                <span class="!m-0 text-[0.75vw] font-semibold capitalize leading-[1.05vw]">
                                    settings
                                </span>
                            </button>
                            <button type="button" class="btn !bg-transparent border-none w-[4vw] h-[4vw] flex-col justify-center gap-[0.45vw] p-0 text-sm">
                                <coreproject-icon-misc class="w-[1.25vw] text-white"></coreproject-icon-misc>
                                <span class="!m-0 text-[0.75vw] font-semibold capitalize leading-[1.05vw]">
                                    misc.
                                </span>
                            </button>
                        </div>
                    </div>
                </aside>
                <div id="page" class="flex-1 overflow-x-hidden flex flex-col" style="scrollbar-gutter: auto;">
                    <content
                        class='contents'
                        hx-get='{{request.get_full_path}}'
                        hx-target='this'
                        hx-trigger='load'
                    >
                     {% comment %}
                        Everything is rendered here
                     {% endcomment %}
                    </content>
                </div>
            </div>

            <coreproject-specific-bottom-navigation></coreproject-specific-bottom-navigation>
        </div>
    </div>


{% endblock %}
