<div
    _="
       init
       set global next_index to '{{ next_index }}'
       set global previous_index to '{{ previous_index }}'
       set global current_index to '{{ current_index }}'
       end
      "
    class="absolute h-full w-full object-cover object-center md:rounded-t-[0.875vw]"
>
    <img
        class="absolute h-full w-full object-cover object-center md:rounded-t-[0.875vw]"
        src="{{anime.image}}"
        alt=""
        style=""
        loading="lazy"
    />
</div>
<gradient-overlay
    class="absolute inset-0 bg-gradient-to-t from-secondary/90 to-secondary/50 md:to-surface-900/25"
></gradient-overlay>
<gradient-overlay
    class="absolute inset-0 hidden bg-gradient-to-r from-surface-900 to-surface-900/25 md:flex md:from-surface-900/50"
></gradient-overlay>
<anime-details
    class="absolute bottom-7 left-7 flex flex-col md:bottom-0 md:left-0 md:px-[3.75vw] md:py-[2.625vw]"
>
    <anime-name
        class="text-white text-3xl font-bold md:text-[2vw] md:leading-[2.375vw]"
    >
        {{ anime.name }}
    </anime-name>
    <japanese-name
        class="text-base font-semibold text-white/90 md:hidden md:text-[2vw] md:leading-[2.375vw]"
    >
        Sorcery Fight
    </japanese-name>
    <anime-infos
        class="flex flex-wrap items-center gap-2 pt-4 text-xs font-semibold text-white/90 md:gap-[0.65vw] md:pt-[0.5vw] md:text-[0.9375vw]"
    >
        <span class="leading-[1.125vw]"> {{ anime.type }} </span>
        {% include "icons/dot.html" with class="w-1 opacity-75 md:w-[0.25vw]" %}
        <span class="leading-[1.125vw]"> {{ anime.episodes }} eps </span>
        {% include "icons/dot.html" with class="w-1 opacity-75 md:w-[0.25vw]" %}
        <span class="leading-[1.125vw]"> {{ anime.status }} </span>
        {% include "icons/dot.html" with class="w-1 opacity-75 md:w-[0.25vw]" %}
        <span class="capitalize leading-[1.125vw]">
            {{ anime.release_date }}
        </span>
        {% include "icons/dot.html" with class="w-1 opacity-75 md:w-[0.25vw]" %}
        <span class="leading-[1.125vw] capitalize"> {{ anime.studio }} </span>
    </anime-infos>
    <anime-genres class="flex gap-2 pb-2 pt-3 md:gap-[0.5vw] md:pt-[0.5vw]">
        {% for genre in anime.genres %}
            <span
                class="rounded-lg bg-secondary p-2 px-3 text-xs md:rounded-[0.35vw] md:px-[0.75vw] md:py-[0.4vw] md:text-[0.75vw] md:font-semibold capitalize"
            >
                {{ genre }}
            </span>
        {% endfor %}
    </anime-genres>
    <coreproject-scroll-area
        gradient_mask="true"
        class="text-xs font-medium leading-4 text-surface-200 md:text-[0.85vw] md:leading-[1.1vw]"
        parent_class="max-h-16 md:max-h-[6vw] md:mt-[0.5vw]"
        offset_scrollbar="true"
    >
        {{ anime.synopsis }}
    </coreproject-scroll-area>

    <options class="mb-2 mt-5 flex gap-3 md:mb-0 md:mt-[1.5vw] md:gap-[1vw]">
        <button
            class="btn btn-warning flex h-14 w-24 justify-center gap-1 rounded-xl text-base text-secondary font-bold md:h-[3.125vw] md:w-[5.4375vw] md:rounded-[0.625vw] md:text-[0.875vw] md:gap-[0.5vw]"
        >
            <svg
                class="w-4 text-surface-900 md:w-[1vw]"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M12.9615 7.89235C13.1685 7.73214 13.3361 7.52665 13.4513 7.29164C13.5666 7.05663 13.6266 6.79834 13.6266 6.53658C13.6266 6.27482 13.5666 6.01653 13.4513 5.78152C13.3361 5.54651 13.1685 5.34102 12.9615 5.18081C10.2808 3.10657 7.28748 1.47165 4.09351 0.337231L3.50952 0.129752C2.39342 -0.266427 1.21383 0.488369 1.06269 1.64113C0.640479 4.89111 0.640479 8.18205 1.06269 11.432C1.21473 12.5848 2.39342 13.3396 3.50952 12.9434L4.09351 12.7359C7.28748 11.6015 10.2808 9.96659 12.9615 7.89235Z"
                    fill="currentColor"
                ></path>
            </svg>
            <span>Ep 1</span>
        </button>
        <a href="/anime/mal/40748">
            <button
                class="btn btn-secondary flex h-14 w-28 items-center justify-center rounded-xl bg-surface-900 text-base font-semibold text-surface-50 md:h-[3.125vw] md:w-[7.5vw] md:gap-[0.5vw] md:rounded-[0.5vw] md:text-[0.875vw] md:font-bold"
            >
                <svg
                    class="w-5 text-surface-50 md:w-[1.25vw]"
                    viewBox="0 0 30 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15 27.5C21.9036 27.5 27.5 21.9036 27.5 15C27.5 8.09644 21.9036 2.5 15 2.5C8.09644 2.5 2.5 8.09644 2.5 15C2.5 21.9036 8.09644 27.5 15 27.5Z"
                        stroke="white"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M15 20V15"
                        stroke="white"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M15 10H15.0125"
                        stroke="white"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                </svg>
                <span>Details</span>
            </button>
        </a>
        <button
            class="btn btn-secondary h-14 w-14 rounded-xl bg-surface-900 text-[3vw] font-bold text-surface-50 md:h-[3.125vw] md:w-[3.125vw] md:rounded-[0.5vw] md:text-[0.875vw]"
        >
            <svg
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 text-surface-50 md:w-[1.25vw]"
            >
                <path
                    d="M9 15H15.75"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path>
                <path
                    d="M12.375 2.62517C12.6734 2.3268 13.078 2.15918 13.5 2.15918C13.7089 2.15918 13.9158 2.20033 14.1088 2.28029C14.3019 2.36024 14.4773 2.47743 14.625 2.62517C14.7727 2.77291 14.8899 2.9483 14.9699 3.14132C15.0498 3.33435 15.091 3.54124 15.091 3.75017C15.091 3.9591 15.0498 4.16599 14.9699 4.35902C14.8899 4.55204 14.7727 4.72743 14.625 4.87517L5.25 14.2502L2.25 15.0002L3 12.0002L12.375 2.62517Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path>
            </svg>
        </button>
    </options>
</anime-details>
