<div
    _="
       init
       set global next_index to '{{ next_index }}'
       set global previous_index to '{{ previous_index }}'
       set global current_index to '{{ current_index }}'
       end
      "
    class="absolute h-full w-full object-cover object-center md:rounded-t-[0.875vw]"
>
    <img
        class="absolute h-full w-full object-cover object-center md:rounded-t-[0.875vw]"
        src="{{anime.image}}"
        alt=""
        loading="lazy"
    />
</div>
<div class="absolute inset-0 bg-gradient-to-t from-secondary/90 to-secondary/50 md:to-surface-900/25"></div>
<div class="absolute inset-0 hidden bg-gradient-to-r from-surface-900 to-surface-900/25 md:flex md:from-surface-900/50"></div>
<div class="absolute bottom-7 left-7 flex flex-col md:bottom-0 md:left-0 md:px-[3.75vw] md:py-[2.625vw]">
    <span class="text-white text-3xl font-bold md:text-[2vw] md:leading-[2.375vw]">{{ anime.name }}</span>
    <div class="text-base uppercase font-semibold text-white/90 md:hidden md:text-[2vw] md:leading-[2.375vw]">{{ anime.japanese_name }}</div>
    <div class="py-2 md:pb-0 flex flex-wrap items-center gap-2 md:pt-4 text-xs font-semibold text-white/90 md:gap-[0.65vw] md:pt-[0.5vw] md:text-[0.9375vw]">
        <span>{{ anime.type }}</span>
        <coreproject-icon-dot class='w-1 opacity-75 md:w-[0.25vw]' ></coreproject-icon-dot>
        <span>{{ anime.episodes }} eps </span>
        <coreproject-icon-dot class='w-1 opacity-75 md:w-[0.25vw]' ></coreproject-icon-dot>
        <span>{{ anime.status }}</span>
        <coreproject-icon-dot class='w-1 opacity-75 md:w-[0.25vw]' ></coreproject-icon-dot>
        <span class="capitalize">
            {{ anime.release_date }}
        </span>
        <coreproject-icon-dot class='w-1 opacity-75 md:w-[0.25vw]' ></coreproject-icon-dot>
        <span class="capitalize">{{ anime.studio }} </span>
    </div>
    <div class="hidden md:flex gap-2 pb-2 pt-3 md:gap-[0.5vw] md:pt-[0.5vw]">
        {% for genre in anime.genres %}
            <span
                class="rounded-lg bg-secondary p-2 px-3 text-xs md:rounded-[0.35vw] md:px-[0.75vw] md:py-[0.4vw] md:text-[0.75vw] md:font-semibold capitalize leading-none"
            >
                {{ genre }}
            </span>
        {% endfor %}
    </div>
    <coreproject-scroll-area
        gradient_mask="true"
        class="text-xs font-medium leading-4 text-surface-200 md:text-[0.85vw] md:leading-[1.1vw]"
        parent_class="max-h-20 md:max-h-[6vw] md:mt-[0.5vw]"
        offset_scrollbar="true"
    >
        {{ anime.synopsis }}
    </coreproject-scroll-area>

    <div class="mb-2 mt-5 flex items-center gap-2 md:mb-0 md:mt-[1.5vw] md:gap-[1vw]">
        <button
            class="btn btn-warning leading-none flex px-6 py-4 md:py-[1vw] md:px-[1.25vw] min-h-max h-max justify-center gap-2 rounded-xl text-base text-secondary font-bold md:rounded-[0.625vw] md:text-[0.875vw] md:gap-[0.5vw]"
        >
            <coreproject-icon-play class="w-4 text-surface-900 md:w-[1vw]"></coreproject-icon-play>
            <span>Ep 1</span>
        </button>
        <a href="/anime/mal/40748">
            <button
                class="btn btn-secondary leading-none flex px-6 py-4 md:py-[1vw] md:px-[1.25vw] min-h-max h-max items-center justify-center rounded-xl text-base font-semibold md:gap-[0.5vw] md:rounded-[0.5vw] md:text-[0.875vw] md:font-bold"
            >
                <coreproject-icon-info class="w-5 text-surface-50 md:w-[1.25vw]"></coreproject-icon-info>
                <span>Details</span>
            </button>
        </a>
        <button
            class="btn btn-secondary leading-none p-4 md:p-[0.9vw] min-h-max h-max rounded-xl bg-surface-900 text-[3vw] font-bold text-surface-50s md:rounded-[0.5vw] md:text-[0.875vw]"
        >
            <coreproject-icon-edit class="w-4 text-surface-50 md:w-[1.25vw]"></coreproject-icon-edit>
        </button>
    </div>
</div>
