{% extends 'base.html' %}
<!--prettier-ignore-->
{% load static %}

{% block body %}

<section class="hero is-fullheight" style="background-color: #070519">
  <div class="hero-body is-justify-content-center">
    <div
      class="columns is-mobile is-align-self-flex-start is-flex-direction-column"
      style="min-width: 100vw"
    >
      <div class="column py-6">
        <div class="columns">{%block kaomoji%} {%endblock%}</div>
      </div>

      {% block error %} {% endblock %}
    </div>
  </div>
</section>

{% endblock %}
