{% extends 'base.html' %}
<!--prettier-ignore-->
{% load static %}

{% block body %}

    <section class="hero is-fullheight" style="background-color: #070519">
        <div class="hero-body is-justify-content-center">
            <div
                class="columns is-mobile is-flex-direction-column"
                style="min-width: 100vw"
            >
                <div class="column py-6">
                    <div class="columns">{%block kaomoji%} {%endblock%}</div>
                </div>

                {% block error %} {% endblock %}
            </div>
        </div>
    </section>
    <style>
        .desktop__vw {
            max-width: 60vw;
        }
        .mobile__vw {
            max-width: 100vw;
        }
    </style>
{% endblock %}
