<coreproject class="mt-[1vw] inline-flex items-center justify-center">
    <div class="inline-flex select-none gap-[0.25vw] text-[1.5vw] font-bold leading-none">
        <p class="inline-flex">
            <span class="inline-flex text-accent opacity-75">c</span>
            <span class="inline-flex text-warning">o</span>
            <span class="inline-flex text-accent opacity-75">r</span>
            <span class="inline-flex text-accent opacity-75">e</span>
        </p>
        <p class="inline-flex">
            <span class="inline-flex text-white">p</span>
            <span class="inline-flex text-white">r</span>
            <span class="inline-flex text-white">o</span>
            <span class="inline-flex text-white">j</span>
            <span class="inline-flex text-white">e</span>
            <span class="inline-flex text-white">c</span>
            <span class="inline-flex text-white">t</span>
        </p>
    </div>
</coreproject>
