<section class="mt-20 flex flex-col p-5 md:mt-0 md:gap-[1.5vw] md:pb-[2.5vw] md:pl-[1.5vw] md:pr-[3.75vw] md:pt-0">
    <div class="flex flex-col gap-2 md:gap-[0.5vw]">
        <span class="text-2xl font-bold leading-none md:text-[2vw]">
            Anime <span class="text-warning">Explore</span>
        </span>
        <span class="text-base font-normal leading-none md:text-[1.1vw]">Unleash your inner Otaku: Explore anime wonders</span>
    </div>

    <div class="mt-10 flex flex-col gap-1 md:hidden">
        <span class="text-base font-semibold leading-none text-surface-50">Search Animes</span>
        <div class="relative flex items-center">
            <coreproject-icon-search class="pointer-events-none absolute ml-4 w-4"></coreproject-icon-search>
            <input
                type="text"
                placeholder="Looking for specific anime? Start from here..."
                class="w-full rounded-lg border-none bg-neutral py-3 pl-12 leading-none focus:ring-0 md:bg-neutral"
            />
        </div>
    </div>
</section>