@charset "utf-16";

// Import progressive-image.css
@import url('https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css');

// Fonts import
@import url('https://cdn.jsdelivr.net/npm/typeface-ubuntu@1.1.13/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/typeface-roboto@1.1.13/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/typeface-cantarell@1.1.13/index.min.css');

// Import Swiper styles
@import 'swiper/scss';

// Bulma import
@import 'bulma/bulma.sass';

// Tippy theme
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';

$tippy-border-color: rgba(255, 255, 255, 0.9);

// Some defaults
:root {
	--html-color: black;
	--navbar-color: black;
	--border-color: #353333;
	--button-border-color: hsl(0, 0%, 20%);
	--button-color-hover: hsl(0, 0%, 5%);
	--error-message-color: #ff0000;
}
html {
	background-color: var(--html-color) !important;
	scrollbar-width: thin;

	ion-icon {
		visibility: inherit !important;
		pointer-events: none;
	}
	body {
		overflow-x: hidden;
	}

	.tippy-box[data-theme~='black'] {
		color: white !important;
		background-color: black !important;
		border: 1px solid #ffffffcf !important;

		&[data-placement^='top'] {
			.tippy-arrow {
				&::before {
					border-top-color: $tippy-border-color;
				}
			}
		}
		&[data-placement^='bottom'] {
			.tippy-arrow {
				&::before {
					border-bottom-color: $tippy-border-color;
				}
			}
		}
		&[data-placement^='left'] {
			.tippy-arrow {
				&::before {
					border-left-color: $tippy-border-color;
				}
			}
		}
		&[data-placement^='right'] {
			.tippy-arrow {
				&::before {
					border-right-color: $tippy-border-color;
				}
			}
		}
	}
}
