{% extends 'base.html' %}
<!--prettier-ignore-->
{% load static %}
<!--prettier-ignore-->

{% block head %}

<style>
    .icon-box {
        background-color: transparent;
    }

    .form-box {
        background-color: transparent;
        border: 1.95px solid var(--border-color);
    }

    .items {
        padding: 0.4em;
    }

    .input {
        background-color: transparent;
        border: 1px solid var(--border-color);
        color: white;
    }

    .input::placeholder {
        color: white;
        opacity: 0.75;
        font-family: 'Ubuntu';
    }

    .button {
        border-color: var(--button-border-color) !important;
        border-width: 1.8px;
        text-decoration: none !important;
        color: hsl(0, 0%, 85%) !important;
        transition: 0.2s;
    }

    .button:hover {
        background-color: var(--button-color-hover) !important;
    }

    .level {
        transition: 0.2s;
    }
    .new_here_tag {
        font-family: 'Cantarell';
        color: white;
        opacity: 0.85;
    }

    .href_tag {
        text-decoration: none;
        font-family: 'Cantarell';
    }

    .href_tag:hover {
        color: #3273dc;
        text-decoration: underline;
    }

    .error {
        color: var(--error-message-color);
    }
</style>
{% endblock %}
<!--prettier-ignore-->
{% block body %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-desktop">
                <div
                    class="column is-half-desktop is-full-mobile is-narrow-tablet"
                >
                    <div class="icon-box box">
                        <div class="columns is-mobile is-centered">
                            <div class="column is-narrow">
                                <a
                                    href="{% static 'images/placeholder/96x96.avif' %}"
                                    class="progressive replace"
                                    style="border-radius: 9999px"
                                >
                                    <img
                                        src="{% static 'images/logos/logo.avif' %}"
                                        style="width: 150px; height: 40px"
                                        width="150"
                                        height="40"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="box form-box"
                        x-data=" { password_shown : false }"
                        x-init="$watch('password_shown', (value) => {
                            const element = document.querySelector('#id_password')
                            switch (value){
                                case true:
                                    element.type = 'text';
                                    break;
                                case false:
                                    element.type = 'password';
                                    break;
                            }
                        })"
                    >
                        {#<!--prettier-ignore-->#}
                        {% if messages %}
                            {% for message in messages %}

                        <div class="columns is-mobile is-centered">
                            <div class="column is-narrow">
                                <p class="error">{{ message }}</p>
                            </div>
                        </div>
                        {#<!--prettier-ignore-->#}
                            {% endfor %} 
                        {% endif %}
                        
                        {% block form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
