{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}" />

<nav
    class="navbar container is-clipped"
    role="navigation"
    aria-label="main navigation"
    x-cloak
    x-data="{ 
            open: false,
            button_turned: false,
        }"
>
    <div
        class="navbar-brand is-clipped"
        x-init="
            async () => {
                switch ($store.is_mobile) {
                    case true : {
                        open = false;
                        button_turned = true;
                        break;            
                    }
                    case false : {
                        open = true;
                        break;
                    }
                }
            }
        "
    >
        <a class="navbar-item is-clickable" href="https://bulma.io">
            <img
                src="{% static 'images/logos/logo.avif' %}"
                width="112"
                height="28"
            />
        </a>

        <a
            role="button "
            class="navbar-burger is-clickable"
            style="margin-top: -0.5em"
            aria-label="menu"
            aria-expanded="false"
            :class="open ? 'is-active' : ''"
            @click="open = !open"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div
        class="navbar-menu is-active"
        x-init="
            $watch('$store.is_mobile', value => {
                switch ( value ) {
                    case true : {
                        open = true;
                        break;
                    }
                    case false : {
                        open = false;
                        break;
                    }
                }
            })
                
        "
        x-show="open"
        x-collapse
    >
        <div x-show="open" x-transition x-transition.delay.50ms>
            <div
                class="navbar-start mb-3"
                :class="$store.is_mobile ? 'is-flex is-flex-direction-row is-justify-content-center' : ''"
            >
                <button
                    class="navbar-item button is-ghost is-rounded is-unselectable"
                    :class="$store.is_mobile ? 'pl-5 pr-5' : 'ml-2'"
                    x-init="
                        async () => {
                            if ('{{ request.path }}'.toLowerCase().includes('home')) {
                                $el.classList.add('hover')
                            }
                        }
                    "
                    @mouseenter="
                        async () => {
                            anime({
                                targets: '.animejs__home__icon',
                                color: '#e50000',
                            })
                        }
                    "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__home__icon',
                                color: '#d9d9d9',
                            })
                        }
                    "
                    @click.prevent="
                        async () => {
                            window.location = '/'
                        }
                    "
                >
                    <ion-icon
                        name="home-sharp"
                        class="animejs__home__icon"
                    ></ion-icon>
                    <p :class="$store.is_mobile ? 'pt-2 nav-icon-button' : ''">
                        <span class="is-hidden-touch">&nbsp;</span> Home
                    </p>
                </button>
                <button
                    class="navbar-item button is-ghost is-rounded is-unselectable"
                    :class="$store.is_mobile ? 'pl-5 pr-5' : 'ml-2'"
                    x-init="
                        async () => {
                            if ( '{{ request.path }}'.toLowerCase().includes('anime') ) {
                                $el.classList.add('hover')
                            }
                        }
                    "
                    @mouseenter="
                        async () => {
                            anime({
                                targets: '.animejs__anime__icon',
                                color: '#e50000',
                            });
                        
                        }
                    "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__anime__icon',
                                color: '#d9d9d9',
                            });
                        }
                    "
                    @click.prevent="
                        async () => {
                            window.location = '/anime/'
                        }
                    "
                >
                    <ion-icon
                        name="film-outline"
                        class="animejs__anime__icon"
                    ></ion-icon>
                    <p :class="$store.is_mobile ? 'pt-2 nav-icon-button' : '' ">
                        <span class="is-hidden-touch">&nbsp;</span>
                        Anime
                    </p>
                </button>
                <button
                    class="navbar-item button is-ghost is-rounded is-unselectable"
                    :class="$store.is_mobile ? 'pl-5 pr-5' : 'ml-2'"
                    x-init="
                            async () => {
                                if ('{{ request.path }}'.toLowerCase().includes('manga')) {
                                    $el.classList.add('hover')
                                }
                            }
                        "
                    @mouseenter="
                        async () => {
                            anime({
                                targets: '.animejs__manga__icon',
                                color: '#e50000',
                            })
                        }
                    "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__manga__icon',
                                color: '#d9d9d9',
                            })
                        }
                    "
                >
                    <ion-icon
                        name="images-outline"
                        class="animejs__manga__icon"
                    ></ion-icon>
                    <p :class="$store.is_mobile ? 'pt-2 nav-icon-button' : ''">
                        <span class="is-hidden-touch">&nbsp;</span> Manga
                    </p>
                </button>
                <button
                    class="navbar-item button is-ghost is-rounded is-unselectable"
                    :class="$store.is_mobile ? 'pl-5 pr-5' : 'ml-2'"
                    x-init="
                        async () => {
                            if ( '{{ request.path }}'.toLowerCase().includes('ost') ) {
                                $el.classList.add('hover')
                            }
                        }
                    "
                    @mouseenter="
                        async () => {
                            anime({
                                targets: '.animejs__music__icon',
                                color: '#e50000',
                            });
                        
                        }
                    "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__music__icon',
                                color: '#d9d9d9',
                            });
                        }
                    "
                    @click.prevent="
                        async () => {
                            window.location = '/ost/'
                        }
                    "
                >
                    <ion-icon
                        name="musical-note-outline"
                        class="animejs__music__icon"
                    ></ion-icon>
                    <p :class="$store.is_mobile ? 'pt-2 nav-icon-button' : '' ">
                        <span class="is-hidden-touch">&nbsp;</span>
                        OST
                    </p>
                </button>
                <button
                    class="navbar-item button is-ghost is-rounded is-unselectable"
                    :class="$store.is_mobile ? 'pl-5 pr-5' : 'ml-2'"
                    x-init="
                    async () => {
                        if ( '{{ request.path }}'.toLowerCase().includes('shots') ) {
                            $el.classList.add('hover')
                        }
                    }
                "
                    @mouseenter="
                    async () => {
                        anime({
                            targets: '.animejs__image__icon',
                            color: '#e50000',
                        });
                    
                    }
                "
                    @mouseleave="
                    async () => {
                        anime({
                            targets: '.animejs__image__icon',
                            color: '#d9d9d9',
                        });
                    }
                "
                    @click.prevent="
                    async () => {
                        window.location = '/shots/'
                    }
                "
                >
                    <ion-icon
                        name="images-outline"
                        class="animejs__image__icon"
                    ></ion-icon>
                    <p :class="$store.is_mobile ? 'pt-2 nav-icon-button' : '' ">
                        <span class="is-hidden-touch">&nbsp;</span>
                        Shots
                    </p>
                </button>
                <div class="control has-icons-left mt-3 ml-4 is-hidden-touch">
                    <input
                        class="input has-background-black has-text-white search__input"
                        type="text"
                        placeholder="Search Away"
                        @focus="async () => {
                            const element = document.querySelectorAll('.navbar-item')
                            for ( let i = 1; i < element.length; i++ ){
                                {% comment %} element[i].classList.add('is-hidden') {% endcomment %}
                            }
                        }"
                        @click.outside="async () => {
                            const element = document.querySelectorAll('.navbar-item')
                            for ( let i = 1; i < element.length; i++ ){
                                {% comment %} element[i].classList.remove('is-hidden') {% endcomment %}
                            }                        
                        }"
                    />
                    <span class="icon is-small is-left">
                        <ion-icon
                            name="search-outline"
                            class="animejs__search__icon"
                            x-init="async () => {
                                anime({
                                    targets:'.animejs__search__icon',
                                    scale: 1.6,
                                    color: '#ffffff',
                                })
                            }"
                        ></ion-icon>
                    </span>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div
                class="navbar-item"
                :class="$store.is_mobile ? 'is-flex is-flex-direction-row is-justify-content-center pt-6' : ''"
            >
                <a
                    href="https://github.com/baseplate-admin/animeCore/"
                    class="is-rounded is-dark animejs__github__button is-clickable"
                    :class="$store.is_mobile ? 'is-hidden ': ''"
                    x-effect="
                        async () => {
                            switch ( button_turned ) {
                                case true : {
                                    anime({
                                        targets: '.animejs__github__button',
                                        translateX: 0,
                                        easing: 'easeOutSine',
                                        duration: 50,
                                        opacity: 1 ,
                                        scale: 1,
                                    })
                                    break;
                                }
                                case false : {
                                    anime({
                                        targets: '.animejs__github__button',
                                        translateX: 40,
                                        easing: 'easeOutSine',
                                        duration: 50,
                                        opacity: 0,
                                        scale: 0.2,
                                    })
                                    break;
                                }
                            }
                        }
                    "
                    @mouseenter="
                            async () => {
                                anime({
                                    targets: '.animejs__logo__github',
                                    color: 'hsl(0, 0%, 100%)',
                                });
                                anime({
                                    targets: '.animejs__github__button',
                                    scale: 1.3,
                                });
                            }
                        "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__logo__github',
                                color: 'hsl(0, 0%, 80%)',
                            })
                            anime({
                                targets: '.animejs__github__button',
                                scale: 1,
                            })
                        }
                    "
                    x-init="
                        async () => {
                            tippy('.animejs__github__button', {
                                content: 'Github',
                                theme: 'black',
                            })
                        }
                    "
                >
                    <ion-icon
                        class="animejs__logo__github"
                        :class="$store.is_mobile ? 'is-position-absolute' : ''"
                        style="width: 100%; height: 100%"
                        name="logo-github"
                        x-init="
                            async () => {
                                anime({
                                    targets: '.animejs__logo__github',
                                    color: 'hsl(0, 0%, 80%)',
                                    scale: 0.6,
                                })
                                
                            }
                        "
                    ></ion-icon>
                </a>

                <a
                    style="z-index: 1000000"
                    class="is-rounded is-dark animejs__arrow__button is-clickable"
                    :class="
                        $store.is_mobile ? 'is-hidden' : ''
                    "
                    x-init="
                    {# Button is not inited | Side effect migration #}
                        $watch('button_turned', value => {
                                switch ( button_turned ) {
                                    case true : {
                                        anime({
                                            targets: '.animejs__arrow__back',
                                            rotate: 180,
                                        })
                                        break;
                                    }
                                    case false : {
                                        anime({
                                            targets: '.animejs__arrow__back',
                                            rotate: 0,
                                        })
                                        break;
                                    }
                                }
                            }
                        )
                    "
                    @click.prevent="
                        async () => {
                            anime({
                                targets: '.animejs__arrow__back',
                                rotate: button_turned ? 0 : 180,
                            })
                            button_turned = !button_turned;
                        }
                    "
                    @mouseenter="
                        async () => {
                            anime({
                                targets: '.animejs__arrow__back',
                                color: '#e50000',
                            })
                            anime({
                                targets: '.animejs__arrow__button',
                                scale: 1.2,
                            })
                        }
                    "
                    @mouseleave="
                        async () => {
                            anime({
                                targets: '.animejs__arrow__back',
                                color: 'hsl(0, 0%, 80%)',
                            })
                            anime({
                                targets: '.animejs__arrow__button',
                                scale: 1,
                            })
                        }
                    "
                >
                    <ion-icon
                        class="animejs__arrow__back"
                        name="arrow-back-outline"
                        style="width: 100%; height: 100%"
                        x-init="
                            async () => {
                                anime({
                                    targets: '.animejs__arrow__back',
                                    easing: 'linear',
                                    duration: 100,
                                    color: 'hsl(0, 0%, 80%)',
                                    scale: 0.6,
                                })                              
                            }
                        "
                    ></ion-icon>
                </a>
            </div>
            <template x-if="!$store.is_mobile">
                {% if request.user.is_authenticated %}
                <figure
                    class="image is-48x48 pt-2 pl-2 tippyjs__avatar__picture"
                    x-init="async () => {
                        tippy('.tippyjs__avatar__picture',{
                            content: '<b>First Name</b> : {{ request.user.first_name }}<br/> <b>Last Name</b> : {{ request.user.last_name }}<br/> <b>Username</b> : {{ request.user }} <br/>  <b>Email</b> : {{ request.user.email }}<br/><b>Date Joined</b> : {{ request.user.date_joined }}<br/> <b>Avatar Provider</b> : {{ request.user.avatar_url }}<br/>',
                            theme: 'black',
                            allowHTML: true,
                        })
                    }"
                    @click.prevent="
                        async () => {
                            window.location = `{% url 'user_edit_info_page' %}`
                        }
                    "
                >
                    <a
                        href="{% url 'api_avatar' request.user.id %}?s=64"
                        class="progressive replace"
                        style="border-radius: 9999px"
                    >
                        <img
                            class="is-rounded preview"
                            src="{% static 'images/placeholder/96x96.avif' %}"
                        />
                    </a>
                </figure>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <button
                            class="button is-ghost is-rounded"
                            @click.prevent="
                                async () => {
                                    window.location = `{% url 'login_page' %}?next={{ request.path }}`
                                }
                            "
                        >
                            Log in
                        </button>
                        <button
                            class="button is-ghost is-rounded"
                            @click.prevent="
                                async () => {
                                    window.location = `{% url 'register_page' %}?next={{ request.path }}`
                                }
                            "
                        >
                            Sign Up
                        </button>
                    </div>
                </div>
                {% endif %}
            </template>
            <template x-if="$store.is_mobile">
                <div>
                    <div class="control has-icons-left ml-4 mr-4 mb-5">
                        <input
                            class="input has-background-black has-text-white search__input"
                            type="text"
                            placeholder="Search Away"
                        />
                        <span class="icon is-small is-left">
                            <ion-icon
                                name="search-outline"
                                class="animejs__search__icon"
                                x-init="async () => {
                                anime({
                                    targets:'.animejs__search__icon',
                                    scale: 1.6,
                                    color: '#ffffff',
                                })
                            }"
                            ></ion-icon>
                        </span>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="columns is-mobile is-centered">
                        {# Parent DIV #}
                        <div class="column is-narrow">
                            <div
                                class="box mt-2"
                                style="background-color: black !important"
                            >
                                <figure
                                    class="image is-96x96"
                                    @click.prevent="
                                    async () => {
                                        window.location = `{% url 'user_edit_info_page' %}`
                                    }
                                "
                                >
                                    <a
                                        href="{% url 'api_avatar' request.user.id %}?s=96"
                                        class="progressive replace"
                                        style="border-radius: 9999px"
                                    >
                                        <img
                                            class="is-rounded preview"
                                            src="{% static 'images/placeholder/96x96.avif' %}"
                                        />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="column is-narrow has-text-white">
                            <div
                                class="columns is-flex-direction-column is-mobile is-gapless"
                            >
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>First Name</b> :
                                        {{request.user.first_name}}
                                    </span>
                                </div>
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>Last Name</b> :
                                        {{request.user.last_name}}
                                    </span>
                                </div>
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>Username</b> : {{ request.user }}
                                    </span>
                                </div>
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>Email</b> : {{ request.user.email }}
                                    </span>
                                </div>
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>Date Joined</b> :
                                        {{request.user.date_joined}}
                                    </span>
                                </div>
                                <div class="column">
                                    <span
                                        class="mobile__friendly__avatar__stats is-inline-block"
                                    >
                                        <b>Avatar Provider</b> :
                                        {{request.user.avatar_url}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="columns is-mobile is-centered">
                        <div class="column is-narrow">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <button
                                        class="button is-ghost is-rounded"
                                        @click.prevent="
                                        async () => {
                                            window.location = `{% url 'login_page' %}?next={{ request.path }}`
                                        }
                                    "
                                    >
                                        Log in
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <button
                                        class="button is-ghost is-rounded"
                                        @click.prevent="
                                        async () => {
                                            window.location = `{% url 'register_page' %}?next={{ request.path }}`
                                        }
                                    "
                                    >
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </template>
        </div>
    </div>
</nav>
