{% extends 'user/_layout.html'%}


{% load crispy_forms_tags %}


{% block title %}
    Register | CoreProject
{% endblock %}

{% block sidebody%}
    <form
        class="flex h-max w-full flex-col bg-surface-900 p-10 pb-[10vw] pt-[7vw] md:h-full md:justify-between md:rounded-none md:p-0"
        method="POST"
    >
        <form-fields
        ><div
            class="flex gap-2 whitespace-nowrap pb-10 font-bold uppercase leading-none tracking-widest text-white md:pb-[1.8vw] md:text-[1.2vw]"
        >
            <p>create your</p>
            <p class="">
                <span class="text-white">c</span
                    ><span class="text-warning">o</span
                        ><span class="text-white">r</span
                            ><span class="text-white">e</span>
                        </p>
                        <p>account</p>
                    </div>
                </div>
            </password-field>
            <confirm-password-field class="flex flex-col gap-[0.3rem] md:gap-[0.5vw]">
                <label for="confirm-password" class="text-lg font-semibold leading-none md:text-[1.1vw]">
                    {{ form.confirm_password.label }}
                </label>
                {{ form.confirm_password }}
                <span class="leading-none md:text-[0.75vw] invisible">{{ form.confirm_password.help_text }}</span>
            </confirm-password-field>
        </form-fields>
        <div class="flex items-center justify-between">
            <div class="flex flex-col gap-1 md:gap-[0.5vw]">
                <span class="text-xs leading-none text-surface-100 md:text-[0.75vw]">Already have an account?</span>
                <a
                    href="{% url 'login_view'%}"
                    class="text-base leading-none md:text-[1.1vw] text-primary underline"
                >
                    Login
                </a>
            </div>
            <button
                type="submit"
                class="btn glass btn-primary bg-primary-focus h-12 rounded-lg p-0 px-5 text-base font-semibold md:h-[2.75vw] md:rounded-[0.5vw] md:px-[1.25vw] md:text-[0.95vw] leading-none"
            >
                <span>Continue</span>
                {% include "icons/arrow_up_right.html" with class="w-4 rotate-45 md:w-[1vw]" %}
            </button>
        </div>
    </form>
{% endblock %}
