{% extends 'user/_layout.html'%} 


{% load crispy_forms_tags %} 


{% block title %}
Register | CoreProject 
{% endblock %} 


{% block sidebody%}
<form
    class="flex h-max w-full flex-col bg-surface-900 p-10 pb-[10vw] pt-[7vw] md:h-full md:justify-between md:rounded-none md:p-0"
    method="POST"
>
    <form-fields
        ><div
            class="flex gap-2 whitespace-nowrap pb-10 font-bold uppercase leading-none tracking-widest text-white md:pb-[1.8vw] md:text-[1.2vw]"
        >
            <p>create your</p>
            <p class="">
                <span class="text-white">c</span
                ><span class="text-warning">o</span
                ><span class="text-white">r</span
                ><span class="text-white">e</span>
            </p>
            <p>account</p>
        </div>
        <email-field class="flex flex-col gap-[0.3rem] md:gap-[0.75vw]"
            ><label
                for="email"
                class="text-lg font-semibold leading-none md:text-[1.1vw]"
                >Email</label
            >
            <input
                name="email"
                id="email"
                placeholder="sora@coreproject.moe"
                class="h-12 w-full rounded-xl border-[0.4vw] border-primary-500 bg-transparent pl-5 text-base font-medium outline-none !ring-0 transition-all placeholder:text-white/50 focus:border-primary-400 md:h-[3.125vw] md:rounded-[0.75vw] md:border-[0.2vw] md:pl-[1vw] md:text-[1.1vw]"
            />
            <span
                class="mt-[0.75vw] text-xs leading-none text-surface-300 md:mt-0 md:text-[0.75vw]"
                >Please enter a valid email address</span
            ></email-field
        >
        <password-field
            ><label
                for="password"
                class="mt-4 text-lg font-semibold leading-none md:mt-[1.1vw] md:text-[1.1vw]"
                >Password</label
            >
            <input
                type="password"
                id="password"
                name="password"
                placeholder="enter a strong password"
                class="mt-[0.3rem] h-12 w-full rounded-xl border-[0.4vw] border-primary-500 bg-transparent pl-5 text-base font-medium outline-none !ring-0 transition-all placeholder:text-white/50 focus:border-primary-400 md:mt-[0.7vw] md:h-[3.125vw] md:rounded-[0.75vw] md:border-[0.2vw] md:pl-[1vw] md:text-[1.1vw]"
            />
            <password-strength class="mt-2 flex flex-col md:mt-[1vw]"
                ><div class="grid grid-cols-4 gap-[1.5vw] md:gap-[0.75vw]">
                    <span
                        class="bg-primary-800 col-span-1 h-[1.75vw] w-full rounded-[0.5vw] md:h-[0.625vw] md:rounded-[0.1875vw]"
                    ></span
                    ><span
                        class="bg-primary-700 col-span-1 h-[1.75vw] w-full rounded-[0.5vw] md:h-[0.625vw] md:rounded-[0.1875vw]"
                    ></span
                    ><span
                        class="bg-primary-600 col-span-1 h-[1.75vw] w-full rounded-[0.5vw] md:h-[0.625vw] md:rounded-[0.1875vw]"
                    ></span
                    ><span
                        class="bg-primary-500 col-span-1 h-[1.75vw] w-full rounded-[0.5vw] md:h-[0.625vw] md:rounded-[0.1875vw]"
                    ></span>
                </div>
                <div class="mt-3 md:mt-[1.25vw]">
                    <span
                        class="text-sm font-semibold uppercase leading-none tracking-wider text-surface-50 md:text-[1vw]"
                        >must contain</span
                    >
                    <div
                        class="ml-2 mt-[0.4vw] flex flex-col gap-[0.1vw] md:w-3/5"
                    >
                        <div slot="placeholder">
                            <div class="flex flex-col gap-1 md:gap-[0.3vw]">
                                <div
                                    class="flex items-center gap-2 md:gap-[0.5vw]"
                                >
                                    <div
                                        class="w-3 text-primary-400 opacity-90 md:w-[0.7vw]"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            baseProfile="basic"
                                        >
                                            <polygon
                                                fill="currentColor"
                                                points="5.857,14.844 0.172,9.032 3.031,6.235 5.888,9.156 12.984,2.06 15.812,4.888"
                                            ></polygon>
                                        </svg>
                                    </div>
                                    <span
                                        class="text-[0.7rem] leading-none text-surface-300 md:text-[0.75vw]"
                                        >minimum 8 characters</span
                                    >
                                </div>
                                <div
                                    class="flex items-center gap-2 md:gap-[0.5vw]"
                                >
                                    <div
                                        class="w-3 text-primary-400 opacity-90 md:w-[0.7vw]"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            baseProfile="basic"
                                        >
                                            <polygon
                                                fill="currentColor"
                                                points="5.857,14.844 0.172,9.032 3.031,6.235 5.888,9.156 12.984,2.06 15.812,4.888"
                                            ></polygon>
                                        </svg>
                                    </div>
                                    <span
                                        class="text-[0.7rem] leading-none text-surface-300 md:text-[0.75vw]"
                                        >minimum 1 special character</span
                                    >
                                </div>
                                <div
                                    class="flex items-center gap-2 md:gap-[0.5vw]"
                                >
                                    <div
                                        class="w-3 text-primary-400 opacity-90 md:w-[0.7vw]"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            baseProfile="basic"
                                        >
                                            <polygon
                                                fill="currentColor"
                                                points="5.857,14.844 0.172,9.032 3.031,6.235 5.888,9.156 12.984,2.06 15.812,4.888"
                                            ></polygon>
                                        </svg>
                                    </div>
                                    <span
                                        class="text-[0.7rem] leading-none text-surface-300 md:text-[0.75vw]"
                                        >minimum 1 number</span
                                    >
                                </div>
                                <div
                                    class="flex items-center gap-2 md:gap-[0.5vw]"
                                >
                                    <div
                                        class="w-3 text-primary-400 opacity-90 md:w-[0.7vw]"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            baseProfile="basic"
                                        >
                                            <polygon
                                                fill="currentColor"
                                                points="5.857,14.844 0.172,9.032 3.031,6.235 5.888,9.156 12.984,2.06 15.812,4.888"
                                            ></polygon>
                                        </svg>
                                    </div>
                                    <span
                                        class="text-[0.7rem] leading-none text-surface-300 md:text-[0.75vw]"
                                        >minimum 1 lower-case or upper-case
                                        character</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div></password-strength
            ></password-field
        >
        <confirm-password-field
            ><label
                for="confirm-password"
                class="mt-4 text-lg font-semibold leading-none md:mt-[2.2vw] md:text-[1.1vw]"
                >Confirm Password</label
            >
            <div class="relative flex flex-col md:mt-[0.7vw]">
                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="re-enter your password"
                    class="mt-[0.3rem] h-12 w-full rounded-xl border-[0.4vw] border-primary-500 bg-transparent pl-5 text-base font-medium outline-none !ring-0 transition-all placeholder:text-white/50 focus:border-primary-400 md:mt-0 md:h-[3.125vw] md:rounded-[0.75vw] md:border-[0.2vw] md:pl-[1vw] md:text-[1.1vw]"
                />
                <div slot="placeholder"></div></div></confirm-password-field
    ></form-fields>
    <div class="mt-11 flex items-center justify-between md:mt-0">
        <div class="flex flex-col gap-1 md:gap-[0.5vw]">
            <span class="text-xs text-surface-100 md:text-[0.75vw]"
                >Already have an account?</span
            >
            <a
                href="{% url 'login_view'%}"
                class="text-base leading-none md:text-[1.1vw] text-primary underline"
                >Login</a
            >
        </div>
        <button
            type="submit"
            class="btn h-12 rounded-lg bg-secondary-800 p-0 px-5 text-base font-semibold leading-none md:h-[2.75vw] md:rounded-[0.5vw] md:px-[1.25vw] md:text-[0.95vw]"
        >
            <span>Continue</span>
            <svg
                class="w-4 rotate-45 md:w-[1vw]"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M4.66699 11.3333L11.3337 4.66666"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path>
                <path
                    d="M4.66699 4.66666H11.3337V11.3333"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></path>
            </svg>
        </button>
    </div>
</form>
{%endblock%}
