{% extends 'components/error.html' %}
<!--prettier-ignore-->
{% load static %}

{% block head %}
<title>400 | bad request</title>
{% endblock %}

<!--prettier-ignore-->

{%block kaomoji%}

<div class="column is-justify-content-center is-flex">
    <img src="{% static 'images/kaomoji/dumbface.svg' %}" />
</div>

{%endblock%}
<!--prettier-ignore-->
{% block error %}
<div class="column">
    <section class="hero is-medium">
        <div class="hero-body is-justify-content-center">
            <div
                class="columns is-flex-direction-column has-text-centered"
                :class="$store.responsiveMode === 'mobile' ? 'mobile__vw' : 'desktop__vw'"
            >
                <div
                    class="column is-narrow px-6 is-align-self-center is-size-3 has-text-weight-bold"
                    :class="$store.responsiveMode === 'mobile' ? 'is-size-5' : 'is-size-3'"
                    style="color: #7569e1"
                >
                    400 - bad request
                </div>
                <div
                    class="column is-align-self-center has-text-centered has-text-weight-semibold is-size-4"
                    :class="$store.responsiveMode === 'mobile' ? 'is-size-6' : 'is-size-4'"
                    style="color: #bdbdbd"
                >
                    HH
                </div>
            </div>
        </div>
        <div
            class="column is-align-self-center has-text-centered has-text-weight-semibold is-size-4"
            style="color: #bdbdbd"
        >
            HH
        </div>
    </section>
</div>
{%endblock%}
