{% extends 'components/error.html' %}
<!--prettier-ignore-->
{% load static %}

{% block head %}
    <title>403 | Forbidden</title>
{% endblock %}

<!--prettier-ignore-->

{%block kaomoji%}

    <div class="column is-justify-content-center is-flex">
        <img src="{% static 'images/kaomoji/oh_no.svg' %}" />
    </div>

{%endblock%}

<!--prettier-ignore-->
{% block error %}
    <div class="column">
        <section class="hero is-medium">
            <div class="hero-body is-justify-content-center">
                <div
                    class="columns is-flex-direction-column has-text-centered"
                    :class="$store.responsiveMode === 'mobile' ? 'mobile__vw' : 'desktop__vw'"
                >
                    <div
                        class="column is-narrow px-6 is-align-self-center is-size-3 has-text-weight-bold"
                        :class="$store.responsiveMode === 'mobile' ? 'is-size-5' : 'is-size-3'"
                        style="color: #7569e1"
                    >
                        403 - Forbidden
                    </div>
                    <div
                        class="column is-align-self-center has-text-centered has-text-weight-semibold is-size-4"
                        :class="$store.responsiveMode === 'mobile' ? 'is-size-6' : 'is-size-4'"
                        style="color: #bdbdbd"
                    >
                        Even to her precious
                        <span class="has-text-white">user-kun,</span>
                        <span class="has-text-white">k</span
                            ><span class="has-text-warning">o</span
                                ><span class="has-text-white">k</span
                                    ><span class="has-text-warning">o</span
                                        ><span class="has-text-white">r</span
                                            ><span class="has-text-warning">o</span
                                                ><span class="has-text-white">-chan</span> has some secrets that she
                                                wants to hide. Well, since there’s nothing you can do about that, you
                                                can go back home, browse the forums or come say hi!
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
{%endblock%}
