{% extends 'components/error.html' %}
<!--prettier-ignore-->
{% load static %}

{% block head %}
    <title>500 | Internal Server Error</title>
{% endblock %}

<!--prettier-ignore-->

{% block kaomoji %}

    <div class="column is-justify-content-center is-flex">
        <img src="{% static 'images/kaomoji/sad_sleeping.svg' %}" />
    </div>

{% endblock %}

<!--prettier-ignore-->
{% block error %}
    <div class="column">
        <section class="hero is-medium">
            <div class="hero-body is-justify-content-center">
                <div
                    class="columns is-flex-direction-column has-text-centered"
                    :class="$store.responsiveMode === 'mobile' ? 'mobile__vw' : 'desktop__vw'"
                >
                    <div
                        class="column is-narrow px-6 is-align-self-center is-size-3 has-text-weight-bold"
                        :class="$store.responsiveMode === 'mobile' ? 'is-size-5' : 'is-size-3'"
                        style="color: #7569e1"
                    >
                        500 - Internal Server Error
                    </div>
                    <div
                        class="column is-align-self-center has-text-centered has-text-weight-semibold"
                        :class="$store.responsiveMode === 'mobile' ? 'is-size-6' : 'is-size-4'"
                        style="color: #bdbdbd"
                    >
                        Uh-oh, looks like our cute
                        <span class="has-text-white">k</span>
                        <span class="has-text-warning">o</span>
                        <span class="has-text-white">k</span>
                        <span class="has-text-warning">o</span>
                        <span class="has-text-white">r</span>
                        <span class="has-text-warning">o</span>
                        <span class="has-text-white">-chan</span>
                        worked really hard for the past few days and has now fallen
                        asleep. You can wait for her to wake up by looking at the
                        status page, or come say hi to other fellow
                        <span class="has-text-white">k</span
                            ><span class="has-text-warning">o</span
                                ><span class="has-text-white">k</span
                                    ><span class="has-text-warning">o</span
                                        ><span class="has-text-white">r</span
                                            ><span class="has-text-warning">o</span
                                                ><span class="has-text-white">-chan</span> worshippers! ah-
                                                also let’s wish her sweet dreams!
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
{%endblock%}
