{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{% static 'images/favicon/favicon.svg' %}"
    />
    <link
      async
      rel="stylesheet"
      href="{% static 'fonts/Kokoro/stylesheet.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
      integrity="sha256-rTpdO0HXBCNpreAHcu6tB2Ppg515Vo+5GtYSsnNLz+8="
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <style>
      html {
        scrollbar-width: none;
      }

      body {
        font-family: "Kokoro" !important;
      }
    </style>
    {%block head%} {%endblock%}
  </head>
  <body x-init="()=> $store.responsiveMode ">
    {%block body%} {%endblock%}
    <script>
      const checkMode = () => {
        function handleWindowChange(e) {
          // Check if the media query is true
          return e.matches;
        }
        /*
                    Mapped from here
                    https://bulma.io/documentation/helpers/visibility-helpers/
                */

        const MOBILE = window.matchMedia("(max-width: 768px)");
        const TABLET = window.matchMedia(
          "(min-width: 769px) and (max-width: 1023px)"
        );
        const DESKTOP = window.matchMedia(
          "(min-width: 1024px) and (max-width: 1215px)"
        );
        const WIDESCREEN = window.matchMedia(
          "(min-width: 1216px) and (max-width: 1407px)"
        );
        const FULLHD = window.matchMedia("(min-width: 1408px )");

        if (handleWindowChange(MOBILE)) {
          return "mobile";
        } else if (handleWindowChange(TABLET)) {
          return "tablet";
        } else if (handleWindowChange(DESKTOP)) {
          return "desktop";
        } else if (handleWindowChange(WIDESCREEN)) {
          return "widescreen";
        } else if (handleWindowChange(FULLHD)) {
          return "fullhd";
        } else {
          return null;
        }
      };

      document.addEventListener("alpine:init", () => {
        // Change the store's value
        window.addEventListener("resize", () => {
          Alpine.store("responsiveMode", checkMode());
        });
        // Init the store.
        Alpine.store("responsiveMode", checkMode());
      });
    </script>
  </body>
</html>
